@charset "utf-8";

@import "../parts/common";
@import "../include/snb_notice";

.contents {min-width: 1900px;}
.cont-container {}

/*
	공통 스타일 설정
*/
.report-contents {
	.cont-property {
		.property-tbl {
			@include tbl-style-1;
			td {
				.cell {
					label + label {
						margin-left: 5px;
					}
					.rdo-box {
						padding: 0 8px;
						label {
							margin-right: 5px;
						}
					}
					.cal-box {
						.inp-cal {
							width: 105px;
						}
					}
					.btn-gray {
						.prev, .next {
							position: relative;
							top: -1px;
							color: #6E7A86;
							padding: 0 5px;
						}
					}
				}
			}
		}
	}
	.cont-list {
		margin-top: 10px;
		.grid-toolbar {
			@include grid-toolbar;
		}
		.grid-wrap.scr-wrap {
			@include grid-scr-x;
			.grid-area.grid-contents {
				background: #fff;
				height: 650px;
			}
			.grid-tbl {
				th, td {
					text-align: center;
					.cell { }
				}
				td:first-child {
					.cell {
						line-height: 1;
					}
				}
			}
		}
		.grid-bottom {
			@include grid-bottom-page;
		}
	}
}

/* 프론트 영역 */
.front-rmChg {}
.front-noShow {}

/* 세일 영역 */
.sales-dailyBk {
	.cont-property {
		.property-tbl {
			.chk-box {
				margin: 0px 40px 0 30px;
			}
		}
	}
}
.sales-rsvCc {}

/* 심사 영역 */
.contents[class*=audit-] {
}
.audit-mng {}

/* 캐셔링 영역 */
.cashier-bill {}
.cashier-pay {}

/* cashier close */
.cshClose-contents {
	.cont-property {
		.property-tbl {
			@include tbl-style-1;
			border-right: 1px solid $bdg-tblBase;
			width: 100%;

			td {
				.cell {
					.form-select {
						&.report {
							width: 190px;
							margin-right: 10px;
						}
					}

					.cal-box {
						width: 120px;
					}

					button {
						letter-spacing: 0;

						&.action {
							margin-left: 5px;
						}
					}
				}
			}
		}
	}

	.tab-list {
		@include tab-list;
		margin-top: 15px;
	}

	.item-list {
		border-top: 1px solid #9f9f9f;
		padding-top: 10px;
		margin-top: -1px;

		.grid-toolbar {
			@include grid-toolbar;
		}

		.grid-wrap.scr-wrap {
			@include grid-scr-x;

			.grid-area.grid-contents {
				background: #fff;
				height: 580px;
			}

			.grid-area.grid-total {
				.grid-tbl {

					th,
					td {}

					td {
						border-bottom: 0;
					}
				}
			}

			.grid-tbl {

				th,
				td {
					.cell {}
				}
			}
		}

		.grid-bottom {
			@include grid-bottom-page;
		}

		.item-container {
			display: none;

			&.on {
				display: block;
			}

			.row {
				@include ft(14px, null, 700);
				letter-spacing: 0;
				margin-bottom: 10px;

				.t {
					margin-right: 10px;
				}

				.rdo-box {
					input {
						margin-right: 3px;
					}

					margin-right: 5px;
				}
			}
		}

		.item-container.summary {
			.grid-toolbar {}

			.grid-wrap.scr-wrap {
				.grid-area.grid-contents {
					background: #fff;
					height: 520px;
				}
			}
		}

		.item-container.credit {
			margin-bottom: 10px;

			.grid-wrap.scr-wrap {
				.grid-area.grid-contents {
					background: #fff;
					height: 530px;
				}
			}

			.row {
				margin-top: 10px;
				padding: 15px 0 0px;
				border-top: 1px dashed $bor-gray-table;
			}

			.grid-wrap.scr-wrap-brown {
				@include grid-scr-brown;

				.grid-area.grid-contents {
					background: #fff;
					height: 300px;

					td {
						background: #ffffec;
					}
				}
			}

			.grid-bottom {
				@include grid-bottom($bdg-tblBase);
			}
		}
	}

	.item-container.extra {
		.row {
			.form-select.item {
				width: 200px;
			}
		}

		.grid-wrap.scr-wrap {
			.grid-area.grid-contents {
				height: 545px;
			}
		}
	}

	.cont-closed {
		padding: 10px;
		background: #f0f0f0;
		border-radius: 4px;

		h3 {
			@include ft(12px, #000);
			margin-bottom: 5px;
		}

		.grid-wrap {
			.grid-tbl {
				@include tbl-base();

				td {
					.cell {
						.texta-etc {
							@include texta-base(100%, 80px);
						}
					}
				}
			}
		}

		.row-btn {
			padding: 15px 0 10px;
			text-align: center;

			button {
				@include btn-pd-lr(20px, 20px, 0);
			}
		}
	}
}