@charset "utf-8";

// 공통
//  @import "./parts/variables";
//  @import "./parts/mixins";
@import "./parts/common";
// @import "./include/pop";

// Footer
//@import url(//static.go.co.kr/css/footer.css);

//@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
//@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
//@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css);

body {
	font-family: $font-stack;
	letter-spacing: -0.3px;
	color: $primary-color;
}
a {cursor: pointer;}
img {
	max-width: 100%;
}
input {
	font-family: $font-stack;
}
input[type=password] {
	font-family: sans-serif;
}
label {
	@include va;
	line-height: 1;
	> * {
		@include va;
	}
}
.show-reset {
	@include show-reset;
}
.appe-reset {
	@include show-reset;
	font-family: $font-stack;
}
.text-hide {
	position: absolute;
	width: 0;
	height: 0;
	font: 0/0 sans-serif;
}
.hide-indent {
	text-indent: -9999px;
}
