@@include('../include/_head.html', {
	"page": "analysis"
})


<body class="page-analysis">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents maidSch-contents">
		@@include('../include/_row_h2.html', {
			"page-title": "작년도 매출 비교 test"
		})
		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width: 90px">
								<col style="width: 250px">
								<col style="width: 90px">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">자산</div></th>
									<td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select property">
                                                <option value=""></option>
                                                <option value="">1. 루미아</option>
                                            </select>
                                        </div>
                                    </td>
									<th><div class="cell">년도</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
											    <!-- 멀티클래스 type-year 추가 -->
												<input type="text" class="appe-reset inp-cal date-ui type-year">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
										    <button type="button" class="btn-brown">SEARCH</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="cont-list">
                <!-- 표 -->
				<div class="grid-tbl-container">
                    <div class="grid-wrap">
                        <table class="grid-tbl">
                            <colgroup>
                                <col style="width:52px">
                                <col style="width:81px">
                                <col style="width:81px">
                            </colgroup>
                            <thead class="theadgroup">
                                <tr>
                                    <th><div class="cell">월</div></th>
                                    <th><div class="cell"></div></th>
                                    <th><div class="cell"></div></th>
                                </tr>
                            </thead>
                            <tbody class="tbodygroup">
                            </tbody>
                        </table>
                    </div>
			    </div>
			    
                <!-- 차트 -->
				<div class="grid-chart-container">
                   <div class="grid-wrap">
                        <p class="tit-chart">
                            Over Last Year Chart
                        </p>
                        <!-- chart graph -->
                        <div class="grid-chart-area">
                            <canvas id="chart"></canvas>
                        </div>
                   </div>
				</div>
			</div>
			<!--//.cont-name-->
		</div>
	</div>
	<!-- //.contents -->


</div>

<!-- 차트 스크립트 -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script> 
</body>
</html>
