@@include('../include/_head.html', {
"page": "inhouse"
})

<!-- 페이지 전용 -->

<body class="page-inhouse">

    <div class="wrapper">
        @@include('../include/_header.html')

        <div class="cf contents rmClnStatus-contents">

            @@include('../include/_row_h2.html', {
            "page-title": "객실 청소 현황"
            })

            <div class="cont-container-f">
                <section class="cont-roomStatus">
                    <div class="area classify-area">
                        <div class="cont-center">
                            <h3 class="hidden">분류 리스트</h3>
                            <ul class="cf list-type">
                                <li class="item"><span class="s-i inhouse"></span><span class="lbl">재실</span></li>
                                <li class="item"><span class="s-i chkout"></span><span class="lbl">빈방</span></li>
                                <li class="division"></li>
                                <li class="item"><span class="s-i inspect"></span><span class="lbl">검수완료</span></li>
                                <li class="item"><span class="s-i clean"></span><span class="lbl">청소완료</span></li>
                                <li class="item"><span class="s-i working"></span><span class="lbl">청소중</span></li>
                                <li class="item"><span class="s-i dirty"></span><span class="lbl">청소전</span></li>
                                <li class="item"><span class="s-i ooo"></span><span class="lbl">하자</span></li>
                            </ul>
                            <span class="term-box">
                                <select name="" id="" class="form-select gray term">
                                    <option value="" selected>1분간격</option>
                                    <option value="">5분간격</option>
                                    <option value="">새로고침안함</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <!--//.classify-area-->

                    <div class="area room-area" id="roomArea">
                        <div class="cont-center">
                            <ul class="cf list-room">
                                <!-- <li class="item inspect"><span class="s-i inhouse"></span><span class="lbl">1701</span></li>
                                <li class="item clean"><span class="s-i chkout"></span><span class="lbl">1702</span></li>
                                <li class="item working"><span class="s-i inhouse"></span><span class="lbl">1703</span></li>
                                <li class="item dirty"><span class="s-i inhouse"></span><span class="lbl">1704</span></li>
                                <li class="item ooo"><span class="s-i inhouse"></span><span class="lbl">1705</span></li> -->
                                @@for (var i=10; i <= 40; i++) {
                                    <li class="item inspect"><span class="s-i inhouse"></span><span class="lbl">13`+ [i] +`</span></li>
                                }
                                <li class="division"></li>
                                @@for (var i=10; i <= 40; i++) {
                                    <li class="item inspect"><span class="s-i inhouse"></span><span class="lbl">12`+ [i] +`</span></li>
                                }
                                <li class="division"></li>
                                @@for (var i=10; i <= 40; i++) {
                                    <li class="item inspect"><span class="s-i inhouse"></span><span class="lbl">11`+ [i] +`</span></li>
                                }
                                <li class="division"></li>
                                @@for (var i=10; i <= 40; i++) {
                                    <li class="item inspect"><span class="s-i inhouse"></span><span class="lbl">10`+ [i] +`</span></li>
                                }
                                <li class="division"></li>
                            </ul>
                            <!--//.list-room-->
                        </div>
                        <!--//.cont-center-->
                    </div>
                    <!--//.room-area-->
                </section>
                <!--//.cont-roomStatus-->
            </div>
        </div>
        <!--//.contents-->

    </div>
    <div class="cf"></div>

</body>

</html>
