@charset "utf-8";

@import "../parts/common";

/* 나의정보 */
.myInfo-contents {
	.grid-tbl {
		@include tbl-base;
		td {
			.cell {
				.w-1 {
					width: 150px;
				}
				.w-2 {
					width: 300px;
				}
				.tel {
					width: 70px;
				}
				.tel-2 {
					width: 55px;
				}
				.form-input {
					&.addr-1 {
						width: 80px;
					}
				}
			}
			& + th {
				border-left: 1px dashed $bdg-tblBase;
			}
		}
	}
	.grid-tbl.tbl-1 {}
	.grid-tbl.tbl-2 {
		margin-top: 10px;
	}
}

/* 공통코드 */
.cmCode-contents {
	.cont-property {
        .property-tbl {
            @include tbl-style-1;
            td {
                .cell {
					.form-input {
						&.option {
							width: 150px;
						}
					}
					.w-1 {
						width: 100px;
					}
                    button {
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
	.row-cont {
		.split {
			@include float;
			box-sizing: border-box;
			margin-top: 10px;
			h3 {
				font-size: 12px;
				margin-bottom: 2px;
			}
		}
		.split.cont-code {
			width: 400px;
			// .grid-wrap {
			// 	@include grid-scr-x(100%, 0);
			// 	.grid-tbl {
			// 		width: 100% !important;
			// 		border-right: none;
			// 		tr {
			// 			td {
			// 				background: #fff !important;
			// 				border-bottom: none !important;
			// 			}
			// 			&:hover td {
			// 				background: #e7f1fa !important;
			// 			}
			// 			&.on td {
			// 				background: #d2d9df !important;
			// 			}
			// 		}
			// 		td {
			// 			.cell {
			// 				position: relative;
			// 			}
			// 		}
			// 		$total: 5;
			// 		@for $i from 1 to $total {
			// 			.dep-#{$i} {
			// 				td {
			// 					.cell {
			// 						padding-left: (20px * $i) + 5px;
			// 						.icon-treeArr {
			// 							left: (20px * $i) - 15px;
			// 						}
			// 					}
			// 				}
			// 			}
			// 		}
			// 		[class*='dep-'] {
			// 			display: none;
			// 		}
			// 		.dep-1 {
			// 			display: table-row;
			// 			td {
			// 				.cell {
		
			// 				}
			// 			}
			// 		}
			// 	}
			// 	.grid-area.grid-contents {
			// 		height: 700px;
			// 		overflow: auto;
			// 		.grid-tbl td {
			// 			border-bottom: 1px solid $bor-gray-table;
			// 		}
			// 	}
			// }
			.scrollbar {
				height: 700px;
				overflow-y: auto;
				border: 1px solid #aaa;
			}
			.code-list {
				font-size: 12px;
				li {
					position: relative;
					> a {
						@include dp(block);
						padding: 5px 0;
						&:hover {
							background: #e7f1fa;
						}
						&.on {
							background: #d2d9df;
						}
						> .d {
							position: relative;
						}
					}
					[class*=dep-] {
						display: none;
					}
					[class*=dep-].expand {
						display: block;
					}
				}
			}
			$total: 5;
			@for $i from 1 to $total {
				.dep-#{$i} {
					li > a {
						padding-left: (20px * $i) + 5px;
					}
				}
			}
		}
		.split.cont-data {
			width: calc(100% - 400px);
			padding-left: 10px;
            .grid-wrap.scr-wrap {
                @include grid-scr-brown;
                .grid-area.grid-head {
                    th { }
                }
                .grid-area.grid-contents {
                    background: #fff;
                    height: 634px;
                    .grid-tbl {
                        td {
                            text-align: center;
							border-bottom: none;
                        }
                        tr.depth-2 {
                            td:first-child {
                                padding-left: 35px;
                            }
                        }
						tr:last-child {
							td {
								border-bottom: 1px solid $bdg-tblBase;
							}
						}
                    }
                }
                .grid-area.grid-total {
                    .grid-tbl {
                        th, td { }
                        td { }
                    }
                }
            }
            .grid-bottom {
                @include grid-bottom-page;
                border-radius: 0;
            }
		}
	}
}

/* 속성코드 */
.prCode-contents {
	.cont-property {
        .property-tbl {
            @include tbl-style-1;
            td {
                .cell {
					.form-input {
						&.option {
							width: 150px;
						}
					}
					.w-1 {
						width: 100px;
					}
                    button {
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
	.row-cont {
		.split {
			@include float;
			box-sizing: border-box;
			margin-top: 10px;
			h3 {
				font-size: 12px;
				margin-bottom: 2px;
			}
		}
		.split.cont-code {
			width: 400px;
			.scrollbar {
				height: 700px;
				overflow-y: auto;
				border: 1px solid #aaa;
			}
			.code-list {
				font-size: 12px;
				li {
					position: relative;
					> a {
						@include dp(block);
						padding: 5px 0;
						&:hover {
							background: #e7f1fa;
						}
						&.on {
							background: #d2d9df;
						}
						> .d {
							position: relative;
						}
					}
					[class*=dep-] {
						display: none;
					}
					[class*=dep-].expand {
						display: block;
					}
				}
			}
			$total: 5;
			@for $i from 1 to $total {
				.dep-#{$i} {
					li > a {
						padding-left: (20px * $i) + 5px;
					}
				}
			}
		}
		.split.cont-data {
			width: calc(100% - 400px);
			padding-left: 10px;
            .grid-wrap.scr-wrap {
                @include grid-scr-brown;
                .grid-area.grid-head {
                    th { }
                }
                .grid-area.grid-contents {
                    background: #fff;
                    height: 634px;
                    .grid-tbl {
                        td {
                            text-align: center;
							border-bottom: none;
                        }
                        tr.depth-2 {
                            td:first-child {
                                padding-left: 35px;
                            }
                        }
						tr:last-child {
							td {
								border-bottom: 1px solid $bdg-tblBase;
							}
						}
                    }
                }
                .grid-area.grid-total {
                    .grid-tbl {
                        th, td { }
                        td { }
                    }
                }
            }
            .grid-bottom {
                @include grid-bottom-page;
                border-radius: 0;
            }
		}
	}
}

/* 스폐셜코드 */
.spCode-contents {
	.cont-property {
        .property-tbl {
            @include tbl-style-1;
            td {
                .cell {
					.form-input {
						&.option {
							width: 150px;
						}
					}
					.w-1 {
						width: 100px;
					}
                    button {
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
	.row-cont {
		.split {
			@include float;
			box-sizing: border-box;
			margin-top: 10px;
			h3 {
				font-size: 12px;
				margin-bottom: 2px;
			}
		}
		.split.cont-code {
			width: 400px;
			.scrollbar {
				height: 700px;
				overflow-y: auto;
				border: 1px solid #aaa;
			}
			.code-list {
				font-size: 12px;
				li {
					position: relative;
					> a {
						@include dp(block);
						padding: 5px 0;
						&:hover {
							background: #e7f1fa;
						}
						&.on {
							background: #d2d9df;
						}
						> .d {
							position: relative;
						}
					}
					[class*=dep-] {
						display: none;
					}
					[class*=dep-].expand {
						display: block;
					}
				}
			}
			$total: 5;
			@for $i from 1 to $total {
				.dep-#{$i} {
					li > a {
						padding-left: (20px * $i) + 5px;
					}
				}
			}
		}
		.split.cont-data {
			width: calc(100% - 400px);
			padding-left: 10px;
            .grid-wrap.scr-wrap {
                @include grid-scr-brown;
                .grid-area.grid-head {
                    th { }
                }
                .grid-area.grid-contents {
                    background: #fff;
                    height: 634px;
                    .grid-tbl {
                        td {
                            text-align: center;
							border-bottom: none;
                        }
                        tr.depth-2 {
                            td:first-child {
                                padding-left: 35px;
                            }
                        }
						tr:last-child {
							td {
								border-bottom: 1px solid $bdg-tblBase;
							}
						}
                    }
                }
                .grid-area.grid-total {
                    .grid-tbl {
                        th, td { }
                        td { }
                    }
                }
            }
            .grid-bottom {
                @include grid-bottom-page;
                border-radius: 0;
            }
		}
	}
}

/* 패키지 설정 */
.pkgSet-contents {
	.cont-property {
        .property-tbl {
            @include tbl-style-1;
            td {
                .cell {
					.form-input {
						&.pkg {
							width: 200px;
						}
					}
                    .form-select { }
                    .rdo-box {
                        @include va;
                        padding: 0 3px;
                        label {
                            margin-right: 0px;
                        }
                        &.n {
                            margin-right: 15px;
                        }
                    }
                    button {
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
	.cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-x;
			.grid-area.grid-head {
				th {
					&.bor {
						border-bottom: 1px solid $bor-gray-table;
					}
				}
			}
			.grid-area.grid-contents {
				background: #fff;
				height: 700px;
				.grid-tbl {
					td {
						text-align: center;
					}
				}
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
		}
		.grid-bottom {
			@include grid-bottom-page;
			border-radius: 0;
		}
	}
}

/* 메일템플릿 */
.mailTem-contents {
	.cont-property {
        .property-tbl {
            @include tbl-style-1;
            td {
                .cell {
                    .form-select {
						&.w-1 {
							width: 200px;
						}
					}
                    .rdo-box {
                        @include va;
                        padding: 0 3px;
                        label {
                            margin-right: 0px;
                        }
                        &.n {
                            margin-right: 15px;
                        }
                    }
                    button {
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
	.cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-brown;
			.grid-area.grid-head {
				th {
					&.bor {
						border-bottom: 1px solid $bor-gray-table;
					}
				}
			}
			.grid-area.grid-contents {
				background: #fff;
				height: 700px;
				.grid-tbl {
					td {
						text-align: center;
					}
				}
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
		}
		.grid-bottom {
			@include grid-bottom-page;
			border-radius: 0;
		}
	}
}

/* 달력 */
.cal-contents {
	.row-btn {
		button {
			&.prev, &.next {
				span {
					@include position(relative, -1px);
					font-size: 10px;
				}
			}
		}
	}
	.cont-area {
		margin-top: 10px;
		> div[class*=cont-] {
			@include float;
			box-sizing: border-box;
		}
		$wh: 1380px;
		.cont-month {
			width: $wh;
		}
		.cont-name {
			width: calc(100% - #{$wh});
			padding-left: 5px;
		}
		.cont-month {
			.month-tbl {
				position: relative;
				width: 100%;
				table-layout: fixed;
				border-collapse: collapse;
				background: #fff;
				th, td {
					font-size: 12px;
					border: 1px solid $bdg-tblBase;
					&.sun {
						color: $fg-sun;
					}
					&.sat {
						color: $fg-sat;
					}
					.cell {
						position: relative;
						height: 100%;
					}
				}
				th {
					font-weight: 700;
					text-align: center;
					height: 28px;
					letter-spacing: 0;
					background: url(../../img/gridheadBg.png) repeat-x;
				}
				td {
					height: 120px;
					.cell {
						padding: 5px;
						.row {
							margin-top: 2px;
							&:first-child {
								margin-top: 0;
							}
						}
						.row-1 {}
						.row-item {
							@include bx;
							height: 20px;
							overflow: auto;
							background: #FF9D67;
							padding: 0 20px 0 3px;
							border-radius: 4px;
							cursor: default;
							// white-space: nowrap;
							// overflow: hidden;
							// text-overflow: ellipsis;
							.ic-x {
								display: none;
								@include position(absolute, 2px, null, null, 1px);
								cursor: pointer;
							}
							&:hover .ic-x {
								display: block;
							}
						}
					}
				}
				td.out {
					.cell {
						.row-1 {
							color: #c3c3c3;
						}
					}
				}
				td.today {
					.cell {
						background: #ffdfdf;
					}
				}
			}
		}
		.cont-name {
			.grid-wrap {
				@include grid-scr-brown;
				border-top-width: 1px;
				.grid-area.grid-head {
					th {
						&.bor {
							border-bottom: 1px solid $bor-gray-table;
						}
					}
				}
				.grid-area.grid-contents {
					background: #fff;
					height: 696px;
					.grid-tbl {
						td {
							text-align: center;
						}
					}
				}
				.grid-area.grid-total {
					.grid-tbl {
						th, td { }
						td { }
					}
				}
			}
			.grid-bottom {
				@include grid-bottom-page;
				border-radius: 0;
				.count {top: 0px;}
			}
		}
	}
}