@@include('../include/_head.html', {
	"page": "status"
})

<body class="page-status">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents agencyday-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "판매채널 일별"
		})

		<div class="cf cont-container">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl property-tbl">
							<colgroup>
								<col style="width: 100px">
								<col style="width: 250px">
								<col style="width: 100px">
								<col style="width: 150px">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="mg-">~</span>
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
										</div>
									</td>
									<th><div class="cell">날짜 유형</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select gray">
												<option value="">결제일</option>
												<option value="">체크인</option>
												<option value="">객실수</option>
											</select>
										</div>
									</td>
									<td>
										<div class="cell">
											<button type="button" class="btn-gray">오늘</button>
											<button type="button" class="btn-gray">어제</button>
											<button type="button" class="btn-gray">7일</button>
											<button type="button" class="btn-gray">30일</button>
											<button type="button" class="btn-gray">지난달</button>
											<button type="button" class="btn-gray">이번달</button>
											<button type="button" class="btn-brown">SEARCH</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.cont-property -->

			<div class="cont-list">
				<div class="grid-wrap scr-wrap">
					<div class="grid-scrollable-x">
						<div class="grid-area grid-head">
							<div class="grid-scrollable">
								<table class="grid-tbl">
									<colgroup>
										<col style="width: 55px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col style="width: 85px">
										<col style="width: 50px">
										<col>
									</colgroup>
									<thead class="rowgroup">
										<tr>
											<th rowspan="2"><div class="cell">날짜</div></th>
											<th colspan="2" class="bor"><div class="cell">고코투어</div></th>
											<th colspan="2" class="bor"><div class="cell">이벤트</div></th>
											<th colspan="2" class="bor"><div class="cell">워크인</div></th>
											<th colspan="2" class="bor"><div class="cell">회원/회원이벤트</div></th>
											<th colspan="2" class="bor"><div class="cell">단체</div></th>
											<th colspan="2" class="bor"><div class="cell">오픈마켓</div></th>
											<th colspan="2" class="bor"><div class="cell">소셜</div></th>
											<th colspan="2" class="bor"><div class="cell">당일앱</div></th>
											<th colspan="2" class="bor"><div class="cell">해외OTA</div></th>
											<th colspan="2" class="bor"><div class="cell">폐쇄몰</div></th></th>
											<th colspan="2" class="bor"><div class="cell">여행사</div></th></th>
											<th colspan="2" class="bor"><div class="cell">포털</div></th></th>
											<th colspan="2" class="bor"><div class="cell">계</div></th></th>
										</tr>
										<tr>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
											<th><div class="cell">건수</div></th></th>
											<th><div class="cell">금액</div></th></th>
										</tr>	
									</thead>
								</table>
							</div>
						</div>
						<div class="grid-area grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width: 55px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col>
								</colgroup>
								<tbody class="rowgroup">
									<!-- tr클래스 추가 - 토요일: sat, 일요일: sun -->
									<tr>
										<td><div class="cell">04/05</div></td></td>
										<td><div class="cell">7</div></td></td>
										<td class="ta-right"><div class="cell">737,153</div></td></td>
										<td><div class="cell">1</div></td></td>
										<td class="ta-right"><div class="cell">170,909</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">5</div></td></td>
										<td class="ta-right"><div class="cell">575,455</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">1</div></td></td>
										<td class="ta-right"><div class="cell">41,735</div></td></td>
										<td><div class="cell">23</div></td></td>
										<td class="ta-right"><div class="cell">1,670,648</div></td></td>
										<td><div class="cell">7</div></td></td>
										<td class="ta-right"><div class="cell">464,978</div></td></td>
										<td><div class="cell">8</div></td></td>
										<td class="ta-right"><div class="cell">893,930</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">0</div></td></td></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">52</div></td></td>
										<td class="ta-right"><div class="cell">4,554,807</div></td></td>
									</tr>
									<tr class="sat">
										<td><div class="cell">04/06</div></td></td>
										<td><div class="cell">7</div></td></td>
										<td class="ta-right"><div class="cell">737,153</div></td></td>
										<td><div class="cell">1</div></td></td>
										<td class="ta-right"><div class="cell">170,909</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">5</div></td></td>
										<td class="ta-right"><div class="cell">575,455</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">1</div></td></td>
										<td class="ta-right"><div class="cell">41,735</div></td></td>
										<td><div class="cell">23</div></td></td>
										<td class="ta-right"><div class="cell">1,670,648</div></td></td>
										<td><div class="cell">7</div></td></td>
										<td class="ta-right"><div class="cell">464,978</div></td></td>
										<td><div class="cell">8</div></td></td>
										<td class="ta-right"><div class="cell">893,930</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">0</div></td></td></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">52</div></td></td>
										<td class="ta-right"><div class="cell">4,554,807</div></td></td>
									</tr>
									<tr class="sun">
										<td><div class="cell">04/07</div></td></td>
										<td><div class="cell">7</div></td></td>
										<td class="ta-right"><div class="cell">737,153</div></td></td>
										<td><div class="cell">1</div></td></td>
										<td class="ta-right"><div class="cell">170,909</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">5</div></td></td>
										<td class="ta-right"><div class="cell">575,455</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">1</div></td></td>
										<td class="ta-right"><div class="cell">41,735</div></td></td>
										<td><div class="cell">23</div></td></td>
										<td class="ta-right"><div class="cell">1,670,648</div></td></td>
										<td><div class="cell">7</div></td></td>
										<td class="ta-right"><div class="cell">464,978</div></td></td>
										<td><div class="cell">8</div></td></td>
										<td class="ta-right"><div class="cell">893,930</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">0</div></td></td></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">0</div></td></td>
										<td class="ta-right"><div class="cell">0</div></td></td>
										<td><div class="cell">52</div></td></td>
										<td class="ta-right"><div class="cell">4,554,807</div></td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="grid-area grid-total">
							<table class="grid-tbl">
								<colgroup>
									<col style="width: 55px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col style="width: 85px">
									<col style="width: 50px">
									<col>
								</colgroup>
								<tbody class="rowgroup">
									<tr>
										<td><div class="cell">계</div></td></td>
										<td><div class="cell">57</div></td></td>
										<td><div class="cell">5,701,551</div></td></td>
										<td><div class="cell">2</div></td></td>
										<td><div class="cell">242,727</div></td></td>
										<td><div class="cell">38</div></td></td>
										<td><div class="cell">3,481,818</div></td></td>
										<td><div class="cell">13</div></td></td>
										<td><div class="cell">1,403,635</div></td></td>
										<td><div class="cell">2</div></td></td>
										<td><div class="cell">4,009,091</div></td></td>
										<td><div class="cell">1</div></td></td>
										<td><div class="cell">41,735</div></td></td>
										<td><div class="cell">112</div></td></td>
										<td><div class="cell">8,709,953</div></td></td>
										<td><div class="cell">58</div></td></td>
										<td><div class="cell">4,323,876</div></td></td>
										<td><div class="cell">27</div></td>
										<td><div class="cell">2,580,375</div></td></td>
										<td><div class="cell">0</div></td>
										<td><div class="cell">0</div></td>
										<td><div class="cell">7</div></td>
										<td><div class="cell">344,109</div></td>
										<td><div class="cell">1</div></td></td>
										<td><div class="cell">87,422</div></td>
										<td><div class="cell">318</div></td></td>
										<td class="last"><div class="cell inBl">30,926,293</div><span class="square"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- //.grid-wrap -->				
			</div>
			<!-- /.cont-list -->
			
			<div class="cont-market fn-tabShow">
				<div class="cf tab-list">
					<a href="javascript:;" class="tab on">오픈마켓</a>
					<a href="javascript:;" class="tab">소셜</a>
					<a href="javascript:;" class="tab">당일앱</a>
					<a href="javascript:;" class="tab">해외OTA</a>
					<a href="javascript:;" class="tab">폐쇄몰</a>
					<a href="javascript:;" class="tab">여행사</a>
					<a href="javascript:;" class="tab">포털</a>
				</div>
				<div class="item-list">
					<div class="item on">
						<div class="grid-wrap scr-wrap">
							<div class="grid-scrollable-x">
								<div class="grid-area grid-head">
									<div class="grid-scrollable">
										<table class="grid-tbl">
											<colgroup>
												<col style="width: 115px">
												<col style="width: 330px">
												<col style="width: 330px">
												<col style="width: 330px">
												<col>
											</colgroup>
											<thead class="rowgroup">
												<tr>
													<th rowspan="2">날짜</th>
													<th colspan="2" class="bor">지마켓</th>
													<th colspan="2" class="bor">계</th>
												</tr>
												<tr>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
												</tr>	
											</thead>
										</table>
									</div>
								</div>
								<div class="grid-area grid-contents">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr>
												<td>2019-04-05</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td>41,735</td>
											</tr>
											<tr class="sat">
												<td>2019-04-06</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td>41,735</td>
											</tr>
											<tr class="sun">
												<td>2019-04-07</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td>41,735</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="grid-area grid-total">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr class="fw-b">
												<td>계</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td class="last"><div class="cell inBl">41,735</div><span class="square"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- //.grid-wrap -->				
					</div>
					<div class="item">
						<div class="grid-wrap scr-wrap">
							<div class="grid-scrollable-x">
								<div class="grid-area grid-head">
									<div class="grid-scrollable">
										<table class="grid-tbl">
											<colgroup>
												<col style="width: 115px">
												<col style="width: 130px">
												<col style="width: 205px">
												<col style="width: 130px">
												<col style="width: 205px">
												<col style="width: 130px">
												<col style="width: 205px">
												<col style="width: 130px">
												<col>
											</colgroup>
											<thead class="rowgroup">
												<tr>
													<th rowspan="2">날짜</th>
													<th colspan="2" class="bor">쿠팡</th>
													<th colspan="2" class="bor">티켓몬스터</th>
													<th colspan="2" class="bor">위메이크프라이스</th>
													<th colspan="2" class="bor">계</th>
												</tr>
												<tr>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
												</tr>	
											</thead>
										</table>
									</div>
								</div>
								<div class="grid-area grid-contents">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr>
												<td>2019-04-05</td>
												<td>2</td>
												<td>257,425</td>
												<td>0</td>
												<td>0</td>
												<td>17</td>
												<td>1,066,713</td>
												<td>18</td>
												<td>1,324,138</td>
											</tr>
											<tr class="sat">
												<td>2019-04-06</td>
												<td>1</td>
												<td>39,375</td>
												<td>1</td>
												<td>106,756</td>
												<td>12</td>
												<td>712,764</td>
												<td>14</td>
												<td>858,895</td>
											</tr>
											<tr class="sun">
												<td>2019-04-07</td>
												<td>1</td>
												<td>39,375</td>
												<td>3</td>
												<td>176,675</td>
												<td>12</td>
												<td>1,253,855</td>
												<td>16</td>
												<td>1,469,905</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="grid-area grid-total">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr class="fw-b">
												<td>계</td>
												<td>7</td>
												<td>581,267</td>
												<td>21</td>
												<td>1,750,995</td>
												<td>95</td>
												<td>7,208,149</td>
												<td>123</td>
												<td class="last"><div class="cell inBl">9,540,411</div><span class="square"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- //.grid-wrap -->				
					</div>
					<div class="item">
						<div class="grid-wrap scr-wrap">
							<div class="grid-scrollable-x">
								<div class="grid-area grid-head">
									<div class="grid-scrollable">
										<table class="grid-tbl">
											<colgroup>
												<col style="width: 115px">
												<col style="width: 65px">
												<col style="width: 100px">
												<col style="width: 65px">
												<col style="width: 100px">
												<col style="width: 65px">
												<col style="width: 100px">
												<col style="width: 65px">
												<col style="width: 100px">
												<col style="width: 65px">
												<col style="width: 100px">
												<col style="width: 65px">
												<col style="width: 100px">
												<col style="width: 65px">
												<col style="width: 100px">
												<col style="width: 65px">
												<col>
											</colgroup>
											<thead class="rowgroup">
												<tr>
													<th rowspan="2">날짜</th>
													<th colspan="2" class="bor">데일리호텔</th>
													<th colspan="2" class="bor">호텔나우</th>
													<th colspan="2" class="bor">호텔타임</th>
													<th colspan="2" class="bor">여기어때</th>
													<th colspan="2" class="bor">야놀자</th>
													<th colspan="2" class="bor">야놀자(모텔)</th>
													<th colspan="2" class="bor">여기어때(모텔)</th>
													<th colspan="2" class="bor">계</th>
												</tr>
												<tr>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
												</tr>	
											</thead>
										</table>
									</div>
								</div>
								<div class="grid-area grid-contents">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr>
												<td>2019-04-05</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>1</td>
												<td>77,182</td>
												<td>0</td>
												<td>0</td>
												<td>2</td>
												<td>191,760</td>
												<td>3</td>
												<td>155,209</td>
												<td>0</td>
												<td>0</td>
												<td>6</td>
												<td>424,151</td>
											</tr>
											<tr class="sat">
												<td>2019-04-06</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>1</td>
												<td>77,182</td>
												<td>0</td>
												<td>0</td>
												<td>2</td>
												<td>191,760</td>
												<td>3</td>
												<td>155,209</td>
												<td>0</td>
												<td>0</td>
												<td>6</td>
												<td>424,151</td>
											</tr>
											<tr class="sun">
												<td>2019-04-07</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>1</td>
												<td>77,182</td>
												<td>0</td>
												<td>0</td>
												<td>2</td>
												<td>191,760</td>
												<td>3</td>
												<td>155,209</td>
												<td>0</td>
												<td>0</td>
												<td>6</td>
												<td>424,151</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="grid-area grid-total">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col style="width: 100px">
											<col style="width: 65px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr class="fw-b">
												<td>계</td>
												<td>13</td>
												<td>1,243,646</td>
												<td>1</td>
												<td>105,364</td>
												<td>2</td>
												<td>115,727</td>
												<td>15</td>
												<td>1,989,918</td>
												<td>10</td>
												<td>835,713</td>
												<td>16</td>
												<td>616,082</td>
												<td>21</td>
												<td>1,268,200</td>
												<td>78</td>
												<td>6,174,640</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- //.grid-wrap -->				
					</div>
					<div class="item">
						<div class="grid-wrap scr-wrap">
							<div class="grid-scrollable-x">
								<div class="grid-area grid-head">
									<div class="grid-scrollable">
										<table class="grid-tbl">
											<colgroup>
												<col style="width: 115px">
												<col style="width: 130px">
												<col style="width: 205px">
												<col style="width: 130px">
												<col style="width: 205px">
												<col style="width: 130px">
												<col style="width: 205px">
												<col style="width: 130px">
												<col>
											</colgroup>
											<thead class="rowgroup">
												<tr>
													<th rowspan="2">날짜</th>
													<th colspan="2" class="bor">아고다</th>
													<th colspan="2" class="bor">부킹닷컴</th>
													<th colspan="2" class="bor">익스피디아</th>
													<th colspan="2" class="bor">계</th>
												</tr>
												<tr>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
												</tr>	
											</thead>
										</table>
									</div>
								</div>
								<div class="grid-area grid-contents">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr>
												<td>2019-04-05</td>
												<td>2</td>
												<td>257,425</td>
												<td>0</td>
												<td>0</td>
												<td>17</td>
												<td>1,066,713</td>
												<td>18</td>
												<td>1,324,138</td>
											</tr>
											<tr class="sat">
												<td>2019-04-06</td>
												<td>1</td>
												<td>39,375</td>
												<td>1</td>
												<td>106,756</td>
												<td>12</td>
												<td>712,764</td>
												<td>14</td>
												<td>858,895</td>
											</tr>
											<tr class="sun">
												<td>2019-04-07</td>
												<td>1</td>
												<td>39,375</td>
												<td>3</td>
												<td>176,675</td>
												<td>12</td>
												<td>1,253,855</td>
												<td>16</td>
												<td>1,469,905</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="grid-area grid-total">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col style="width: 205px">
											<col style="width: 130px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr class="fw-b">
												<td>계</td>
												<td>7</td>
												<td>581,267</td>
												<td>21</td>
												<td>1,750,995</td>
												<td>95</td>
												<td>7,208,149</td>
												<td>123</td>
												<td class="last"><div class="cell inBl">9,540,411</div><span class="square"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- //.grid-wrap -->				
					</div>
					<div class="item">
						<div class="grid-wrap scr-wrap">
							<div class="grid-scrollable-x">
								<div class="grid-area grid-head">
									<div class="grid-scrollable">
										<table class="grid-tbl">
											<thead class="rowgroup">
												<tr>
													<th>통계가 존재하지 않습니다.</th>
												</tr>	
											</thead>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- //.grid-wrap -->				
					</div>
					<div class="item">
						<div class="grid-wrap scr-wrap">
							<div class="grid-scrollable-x">
								<div class="grid-area grid-head">
									<div class="grid-scrollable">
										<table class="grid-tbl">
											<colgroup>
												<col style="width: 115px">
												<col style="width: 330px">
												<col style="width: 330px">
												<col style="width: 330px">
												<col>
											</colgroup>
											<thead class="rowgroup">
												<tr>
													<th rowspan="2">날짜</th>
													<th colspan="2" class="bor">인터파크</th>
													<th colspan="2" class="bor">계</th>
												</tr>
												<tr>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
												</tr>	
											</thead>
										</table>
									</div>
								</div>
								<div class="grid-area grid-contents">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr>
												<td>2019-04-05</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td>41,735</td>
											</tr>
											<tr class="sat">
												<td>2019-04-06</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td>41,735</td>
											</tr>
											<tr class="sun">
												<td>2019-04-07</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td>41,735</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="grid-area grid-total">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr class="fw-b">
												<td>계</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td class="last"><div class="cell inBl">41,735</div><span class="square"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- //.grid-wrap -->	
					</div>
					<div class="item">
						<div class="grid-wrap scr-wrap">
							<div class="grid-scrollable-x">
								<div class="grid-area grid-head">
									<div class="grid-scrollable">
										<table class="grid-tbl">
											<colgroup>
												<col style="width: 115px">
												<col style="width: 330px">
												<col style="width: 330px">
												<col style="width: 330px">
												<col>
											</colgroup>
											<thead class="rowgroup">
												<tr>
													<th rowspan="2">날짜</th>
													<th colspan="2" class="bor">네이버</th>
													<th colspan="2" class="bor">계</th>
												</tr>
												<tr>
													<th>건수</th>
													<th>금액</th>
													<th>건수</th>
													<th>금액</th>
												</tr>	
											</thead>
										</table>
									</div>
								</div>
								<div class="grid-area grid-contents">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr>
												<td>2019-04-05</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td>41,735</td>
											</tr>
											<tr class="sat">
												<td>2019-04-06</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td>41,735</td>
											</tr>
											<tr class="sun">
												<td>2019-04-07</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td>41,735</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="grid-area grid-total">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 115px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col style="width: 330px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr class="fw-b">
												<td>계</td>
												<td>1</td>
												<td>41,735</td>
												<td>1</td>
												<td class="last"><div class="cell inBl">41,735</div><span class="square"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- //.grid-wrap -->	
					</div>
				</div>
			</div>
			<!-- /.cont-market -->
		</div>
	</div>
	<!--//.contents-->
	
	@@include('../include/status/_right_notice.html')
</div>
</body>
</html>
