@@include('../include/_head.html', {
	"page": "status"
})

<body class="page-status">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents agencyday-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "판매채널 일별"
		})

		<div class="cf cont-container">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl property-tbl">
							<colgroup>
								<col style="width: 100px">
								<col style="width: 250px">
								<col style="width: 100px">
								<col style="width: 150px">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="mg-">~</span>
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
										</div>
									</td>
									<th><div class="cell">날짜 유형</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select gray">
												<option value="">결제일</option>
												<option value="">체크인</option>
												<option value="">객실수</option>
											</select>
										</div>
									</td>
									<td>
										<div class="cell">
											<button type="button" class="btn-gray">오늘</button>
											<button type="button" class="btn-gray">어제</button>
											<button type="button" class="btn-gray">7일</button>
											<button type="button" class="btn-gray">30일</button>
											<button type="button" class="btn-gray">지난달</button>
											<button type="button" class="btn-gray">이번달</button>
											<button type="button" class="btn-brown">SEARCH</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.cont-property -->

			<div class="cont-list">
				아아 이런
			</div>
			<!-- /.cont-list -->

			<div class="cont-market"></div>
			<!-- /.cont-market -->
		</div>
	</div>
	<!--//.contents-->

	@@include('../include/status/_right_notice.html')
</div>
</body>
</html>
