@charset "utf-8";

//year picker css 추가
@import "../bootstrap";
@import "../parts/common";

@media (max-width: 991px) {

    /* 대시보드 */
    .dboard-contents {
        padding-bottom: 50px;

        p {
            margin: 0;
        }

        padding-top: 0;

        .cont-container-f {
            margin-top: 0;
            // background: #f2f2f2;

            .cont-list {

                .row-contents {
                    @include clearfix;
                    // margin-top: 10px;
                    // padding-bottom: 10px;

                    //높이
                    &.row-1 {
                        .row-cont {
                            // height: 337px;
                        }
                    }

                    &.row-2 {
                        .row-cont {
                            // height: 280px;
                        }
                    }

                    &.row-3 {
                        .row-cont {
                            // height: 490px;
                        }
                    }

                    .row-cont {
                        @include bx;
                        // float: left;
                        // width: 49.5%;
                        // margin-left: 1%;
                        background: #ffffff;
                        margin-top: 10px;
                        min-width: 340px;
                        overflow-x: auto;

                        // border: 1px solid $bor-gray-table;
                        // &:not(:first-child) {}

                        &:first-child {
                            margin-left: 0;
                        }

                        /* row 타이틀 */
                        .row-tit {
                            padding: 20px 15px 10px;
                            font-size: 17px;
                            line-height: 1.2;
                            font-weight: bold;
                            // color: $fg-brown-2; 
                            color: $fg-legend;
                        }

                        /* 버튼 */
                        .btn-box {
                            position: absolute;
                            top: 20px;
                            right: 10px;

                            .btn-gray {
                                padding: 1px 7px;
                                font-size: 11px;
                                color: #6e7a86;
                            }
                        }

                        /* 공통 - 그래프 제외 부모요소 */
                        .cont-area {
                            padding: 10px;
                        }

                        /* 스크롤 테이블 공통 */
                        .grid-wrap.scr-wrap {
                            @include grid-scr-x;

                            .grid-area {
                                &.grid-contents {
                                    .grid-tbl {
                                        border-right: 0;

                                        th {
                                            background-color: #ebebeb;
                                        }
                                    }
                                }
                            }
                        }

                        /* Revenue */
                        &.cont-status,
                        &.cont-rvn {
                            .grid-area {
                                .grid-tbl {
                                    width: 600px;
                                    // width: 100%;
                                    table-layout: fixed;
                                    border-collapse: collapse;

                                    tr {

                                        th,
                                        td {
                                            background: $bg-tblBase;
                                            font-size: 12px;
                                            font-weight: 600;
                                            text-align: center;
                                            color: #000;
                                            border: 1px solid #c0b5a6;
                                            //height: 38px;

                                            .cell {
                                                padding: 7px 7px;
                                            }

                                            &.tbg-gray {
                                                color: #fff;
                                                background: #999;
                                            }

                                            &.tbg-yellow {
                                                background: #ffff99;
                                            }
                                        }
                                    }
                                }

                                //thead
                                &.grid-head {
                                    .grid-tbl {
                                        tr {
                                            th {
                                                border-bottom: 0;
                                            }
                                        }
                                    }
                                }

                            }
                        }

                        &.cont-status {
                            .grid-area {
                                .grid-tbl {
                                    width: 100%;
                                }
                            }
                        }

                        /* Notice */
                        &.cont-notice {
                            .scr-wrap {

                                .grid-area {
                                    &.grid-contents {
                                        height: 80px;
                                    }
                                }

                                &.scr-wrap-2 {
                                    margin-top: 10px;

                                    .grid-area {
                                        &.grid-contents {
                                            height: 115px;
                                        }
                                    }
                                }
                            }
                        }

                        /* Room Analysis */
                        &.cont-anls {
                            .anls-list {
                                @include clearfix;

                                li {
                                    @include bx;
                                    float: left;
                                    width: 33.3%;
                                    text-align: center;

                                    .list-tit {
                                        font-size: 18px;
                                        font-weight: bold;
                                        line-height: 1;
                                        color: #a6a6a6;
                                    }

                                    .svg-box {
                                        width: 170px;
                                        margin: 0 auto;
                                    }

                                    .list-txt-box {
                                        margin-top: 10px;

                                        span {
                                            //display: inline-block;
                                            display: block;
                                            font-size: 20px;
                                            line-height: 1;
                                            font-weight: bold;
                                            color: #a6a6a6;

                                            &.s-1 {
                                                color: #ff8000;
                                            }

                                            &.s-2 {
                                                font-size: 16px;
                                                vertical-align: top;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        /* VIP */
                        &.cont-vip {
                            .scr-wrap {
                                .grid-area {
                                    &.grid-contents {
                                        height: 150px;
                                    }
                                }
                            }
                        }

                        /* Revenue Statistics */
                        &.cont-rst {
                            .chart-area {
                                @include bx;
                                margin-top: 20px;
                                height: 400px;
                            }
                        }

                        /* Occupancy Statistics */
                        &.cont-ost {
                            .chart-area {
                                @include bx;
                                margin-top: 20px;
                                height: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {

    /* 대시보드 */
    .dboard-contents {
        p {
            margin: 0;
        }

        padding-top: 0;

        .cont-container-f {
            margin-top: 0;
            // background: #f2f2f2;

            .cont-list {
                .row-contents {
                    // @include clearfix;
                    // margin-top: 10px;
                    padding-bottom: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    //높이
                    &.row-1 {
                        .row-cont {
                            height: 337px;
                        }
                    }

                    &.row-2 {
                        .row-cont {
                            height: 280px;
                        }
                    }

                    &.row-3 {
                        .row-cont {
                            height: 490px;
                        }
                    }

                    .row-cont {
                        @include bx;
                        width: calc(50% - 5px);
                        // float: left;
                        // width: 49.5%;
                        // margin-left: 1%;
                        background: #ffffff;
                        margin-top: 10px;
                        // border: 1px solid $bor-gray-table;
                        // &:first-child {
                        //     margin-left: 0;
                        // }
                        // &:nth-child(2)~.row-cont {
                        //     margin-top: 10px;
                        // }

                        /* row 타이틀 */
                        .row-tit {
                            padding: 20px 15px 10px;
                            font-size: 17px;
                            line-height: 1.2;
                            font-weight: bold;
                            // color: $fg-brown-2; 
                            color: $fg-legend;
                        }

                        /* 버튼 */
                        .btn-box {
                            position: absolute;
                            top: 20px;
                            right: 10px;

                            .btn-gray {
                                padding: 1px 7px;
                                font-size: 11px;
                                color: #6e7a86;
                            }
                        }

                        /* 공통 - 그래프 제외 부모요소 */
                        .cont-area {
                            padding: 10px;
                        }

                        /* 스크롤 테이블 공통 */
                        .scr-wrap {
                            @include grid-scr-x;
                        }

                        /* Revenue */
                        &.cont-status,
                        &.cont-rvn {
                            .grid-area {
                                .grid-tbl {
                                    width: 100%;
                                    table-layout: fixed;
                                    border-collapse: collapse;

                                    tr {

                                        th,
                                        td {
                                            background: $bg-tblBase;
                                            font-size: 12px;
                                            font-weight: 600;
                                            text-align: center;
                                            color: #000;
                                            border: 1px solid #c0b5a6;
                                            //height: 38px;

                                            .cell {
                                                padding: 7px 7px;
                                            }

                                            &.tbg-gray {
                                                color: #fff;
                                                background: #999;
                                            }

                                            &.tbg-yellow {
                                                background: #ffff99;
                                            }
                                        }
                                    }
                                }

                                //thead
                                &.grid-head {
                                    .grid-tbl {
                                        tr {
                                            th {
                                                border-bottom: 0;
                                            }
                                        }
                                    }
                                }

                            }
                        }

                        /* Notice */
                        &.cont-notice {
                            .scr-wrap {
                                .grid-area {
                                    &.grid-contents {
                                        height: 80px;
                                    }
                                }

                                &.scr-wrap-2 {
                                    margin-top: 10px;

                                    .grid-area {
                                        &.grid-contents {
                                            height: 115px;
                                        }
                                    }
                                }
                            }
                        }

                        /* Room Analysis */
                        &.cont-anls {
                            .anls-list {
                                @include clearfix;

                                li {
                                    @include bx;
                                    float: left;
                                    width: 33.3%;
                                    text-align: center;

                                    .list-tit {
                                        font-size: 18px;
                                        font-weight: bold;
                                        line-height: 1;
                                        color: #a6a6a6;
                                    }

                                    .svg-box {
                                        width: 170px;
                                        margin: 0 auto;
                                    }

                                    .list-txt-box {
                                        span {
                                            //display: inline-block;
                                            font-size: 30px;
                                            line-height: 1;
                                            font-weight: bold;
                                            color: #a6a6a6;

                                            &.s-1 {
                                                color: #ff8000;
                                            }

                                            &.s-2 {
                                                font-size: 16px;
                                                vertical-align: top;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        /* VIP */
                        &.cont-vip {
                            .scr-wrap {
                                .grid-area {
                                    &.grid-contents {
                                        height: 150px;
                                    }
                                }
                            }
                        }

                        /* Revenue Statistics */
                        &.cont-rst {
                            .chart-area {
                                @include bx;
                                margin-top: 20px;
                                height: 400px;
                            }
                        }

                        /* Occupancy Statistics */
                        &.cont-ost {
                            .chart-area {
                                @include bx;
                                margin-top: 20px;
                                height: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
}