<!-- deposit 팝업 -->
<div class="pop-container deposit-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>Deposit</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="cf">
				
				<div class="popcont-container split-1">
					<h2 class="cont-tit">
						<strong>Rm.Type : DDB , Total Amount : 39,000</strong>
					</h2>
					<div class="cont-list">
						<div class="grid-wrap scr-wrap">
							<div class="grid-scrollable-x">
								<div class="grid-area grid-head">
									<div class="grid-scrollable">
										<table class="grid-tbl list-tbl">
											<colgroup>
												<col style="width: 80px">
												<col style="width: 130px">
												<col style="width: 150px">
												<col style="width: 200px">
												<col style="width: 300px">
												<col>
											</colgroup>
											<thead class="rowgroup">
												<tr>
													<th><div class="cell">날짜</div></th>
													<th><div class="cell">항목</div></th>
													<th><div class="cell">결제유형</div></th>
													<th><div class="cell">결제정보</div></th>
													<th><div class="cell">비고</div></th>
													<th><div class="cell">금액</div></th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								<div class="grid-area grid-contents">
									<table class="grid-tbl list-tbl">
										<colgroup>
											<col style="width: 80px">
											<col style="width: 130px">
											<col style="width: 150px">
											<col style="width: 200px">
											<col style="width: 300px">
											<col>
										</colgroup>
										<tbody class="rowgroup">
											<tr>
												<td>
													<div class="cell"></div>
												</td>
												<td>
													<div class="cell"></div>
												</td>
												<td>
													<div class="cell"></div>
												</td>
												<td class="ta-left">
													<div class="cell"></div>
												</td>
												<td class="ta-left">
													<div class="cell"></div>
												</td>
												<td class="ta-right">
													<div class="cell">0</div>
												</td>
											</tr>
											<tr class="bg-bill-child">
												<td>
													<div class="cell"></div>
												</td>
												<td class="ta-left">
													<div class="cell">Total</div>
												</td>
												<td>
													<div class="cell"></div>
												</td>
												<td class="ta-left">
													<div class="cell"></div>
												</td>
												<td class="ta-left">
													<div class="cell"></div>
												</td>
												<td class="ta-right">
													<div class="cell">0</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- //.grid-wrap -->
					</div>
					<!-- //.cont-list -->
				</div>
			
				<div class="popcont-container split-2">
					<div class="cont-info">
						<div class="grid-wrap">
							<div class="grid-contents">
								<table class="grid-tbl info-tbl">
									<colgroup>
										<col style="width: 120px">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th>
												<div class="cell">판매처</div>
											</th>
											<td>
												<div class="cel">
													고코투어(가자닷컴)
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<div class="cell necess">날짜</div>
											</th>
											<td>
												<div class="cell">
													<input type="text" class="form-input w-1">
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<div class="cell necess">금액</div>
											</th>
											<td>
												<div class="cell">
													<input type="text" class="form-input w-1">
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<div class="cell necess">방법</div>
											</th>
											<td>
												<div class="cell">
													<select name="" id="" class="form-select w-2">
														<option value="">CARD(카드)</option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<div class="cell">항목</div>
											</th>
											<td>
												<div class="cell">
													<select name="" id="" class="form-select w-1">
														<option value=""></option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<div class="cell">결제 정보</div>
											</th>
											<td>
												<div class="cell">
													Card No.
													<input type="text" class="form-input w-1" disabled>
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<div class="cell">비고</div>
											</th>
											<td>
												<div class="cell">
													<textarea name="" id="" class="form-texta"></textarea>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row-btn">
							<button type="button" class="btn-blue">APPLY</button>
							<button type="button" class="btn-red" disabled>VOID</button>
							<button type="button" class="btn-orange">NEW</button>
						</div>
					</div>
					<!--//.cont-info-->
				</div>
			</div>
		</div>
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-blue fn-cls">SAVE</button>
				<button type="button" class="btn-gray fn-cls">CLOSE</button>
			</div>
		</div>
	</div>
</div>
<!-- / .deposit-container -->