<!-- Room Assign Mini -->
<div class="pop-container rmAssMini-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>Room Assign</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents assBl-contents">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-area grid-contents">
						<table class="grid-tbl property-tbl">
							<colgroup>
								<col style="width: 100px">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
									<th>
										<div class="cell">가능한 객실</div>
									</th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select w-1">
												<option value="">전체</option>
												<option value="">RST</option>
												<option value="">DDB</option>
												<option value="">SDT</option>
												<option value="">DTW</option>
												<option value="">FTW</option>
                                            </select>
                                            <select name="" id="" class="form-select w-1">
												<option value="">전체</option>
												<option value="" selected>공실</option>
												<option value="">재실</option>
											</select>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--//.cont-property-->

			<div class="cont-asschk">
				<div class="scrollbox">
					<div class="scrollbar">
						<!-- icon-status 상태 클래스 추가 - vi, vw, vc, vd,  -->
						<ul class="cf list">
							<li class="item"><label><input type="checkbox"> <span class="txt">1701</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1702</span> <span class="icon-status vw"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1703</span> <span class="icon-status vc"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vd"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
							<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- / .cont-asschk -->
		</div>
		<!-- / .assBl-contents -->
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-blue fn-cls">SAVE</button>
				<button type="button" class="btn-gray fn-cls">CLOSE</button>
			</div>
		</div>
	</div>
</div>
<!-- / .rmAssMini-container -->		