<!-- Room Assign -->
<div class="pop-container rmAss-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>Room Assign</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents rmAss-contents">
			<div class="cf">
				<div class="split split-1">
					<div class="cont-property">
						<div class="grid-wrap">
							<div class="grid-area grid-contents">
								<table class="grid-tbl property-tbl">
									<colgroup>
										<col style="width: 100px">
										<col style="width: 150px">
										<col style="width: 150px">
										<col style="width: 100px">
										<col style="">
									</colgroup>
									<tbody>
										<tr>
											<th><div class="cell">날짜</div></th>
											<td>
												<div class="cell">
													<span class="cal-box">
														<input type="text" class="appe-reset inp-cal date-ui">
														<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
													</span>
												</div>
											</td>
											<td>
												<div class="cell">
													<span class="rdo-box"><label><input type="radio">ALL</label></span>
													<span class="rdo-box"><label><input type="radio">FIT</label></span>
													<span class="rdo-box"><label><input type="radio">Group</label></span>
												</div>
											</td>
											<th><div class="cell">그룹 #</div></th>
											<td>
												<div class="cell">
													<input type="text" class="form-input w-1">
													<button type="button" class="btn-brown">CLEAR</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--//.cont-property-->
					<div class="cont-list">
						<div class="grid-wrap">
							<div class="grid-scrollable-x">
								<div class="grid-area grid-head">
									<div class="grid-scrollable">
										<table class="grid-tbl list-tbl">
											<colgroup>
												<col style="width: 100px">
												<col style="width: 100px">
												<col style="width: 85px">
												<col style="width: 100px">
												<col style="width: 60px">
												<col style="width: 80px">
												<col style="width: 30px">
												<col style="width: 80px">
												<col style="width: 50px">
												<col style="width: 40px">
												<col style="width: 325px">
												<col style="width: 40px">
												<col style="width: 60px">
												<col style="width: 55px">
												<col style="">
											</colgroup>
											<thead class="rowgroup">
												<tr>
													<th><div class="cell">게스트명</div></th>
													<th><div class="cell">그룹명</div></th>
													<th><div class="cell">그룹 번호</div></th>
													<th><div class="cell">계정</div></th>
													<th><div class="cell">GRP/FIT</div></th>
													<th><div class="cell">도착 날짜</div></th>
													<th><div class="cell">Nts</div></th>
													<th><div class="cell">출발 날짜</div></th>
													<th><div class="cell">Ad/Ch</div></th>
													<th><div class="cell">EX-B</div></th>
													<th><div class="cell">메시지</div></th>
													<th><div class="cell">DNM</div></th>
													<th><div class="cell">객실 유형</div></th>
													<th><div class="cell">객실 #</div></th>
													<th><div class="cell"><input type="checkbox"></div></th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								<div class="grid-area grid-contents">
									<table class="grid-tbl list-tbl">
										<colgroup>
											<col style="width: 100px">
											<col style="width: 100px">
											<col style="width: 85px">
											<col style="width: 100px">
											<col style="width: 60px">
											<col style="width: 80px">
											<col style="width: 30px">
											<col style="width: 80px">
											<col style="width: 50px">
											<col style="width: 40px">
											<col style="width: 325px">
											<col style="width: 40px">
											<col style="width: 60px">
											<col style="width: 55px">
											<col style="">
										</colgroup>
										<tbody class="rowgroup">
											<tr>
												<td><div class="cell">김민선</div></td>
												<td><div class="cell"></div></td>
												<td><div class="cell"></div></td>
												<td><div class="cell">데일리호텔</div></td>
												<td><div class="cell">F.I.T</div></td>
												<td><div class="cell">2019-04-10</div></td>
												<td><div class="cell">2</div></td>
												<td><div class="cell">2019-04-12</div></td>
												<td><div class="cell">2 / 0</div></td>
												<td><div class="cell"></div></td>
												<td><div class="cell">하버뷰 사전 요청(배정해주세요)대회후불 데일리호텔 디럭</div></td>
												<td><div class="cell">N</div></td>
												<td><div class="cell">DDB</div></td>
												<td><div class="cell"><span class="no">1518</span></div></td>
												<th><div class="cell"><input type="checkbox"></div></th>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- //.grid-wrap -->
					</div>
					<!-- //.cont-list -->
				</div>
				<div class="split split-3">
					<div class="row-btn">
						<button type="button" class="btn-blue"><span>&lt;&lt;&lt;</span></button>
						<button type="button" class="btn-red"><span>&gt;&gt;&gt;</span></button>
					</div>
				</div>
				<div class="split split-2">
					<div class="cont-property">
						<div class="grid-wrap">
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
										<col style="width: 100px">
										<col style="">
									</colgroup>
									<tbody>
										<tr>
											<th>
												<div class="cell">객실 유형</div>
											</th>
											<td>
												<div class="cell">
													<select name="" id="" class="form-select w-1">
														<option value="">전체</option>
														<option value="">RST</option>
														<option value="">DDB</option>
														<option value="">SDT</option>
														<option value="">DTW</option>
														<option value="">FTW</option>
													</select>
													<select name="" id="" class="form-select w-1">
														<option value="">전체</option>
														<option value="" selected>공실</option>
														<option value="">재실</option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<div class="cell">층</div>
											</th>
											<td>
												<div class="cell">
													<select name="" id="" class="form-select w-1">
														<option value="">17</option>
														<option value="">16</option>
														<option value="">15</option>
														<option value="">14</option>
														<option value="">13</option>
														<option value="">12</option>
														<option value="">11</option>
														<option value="">10</option>
														<option value="">9</option>
														<option value="">8</option>
														<option value="">7</option>
														<option value="">6</option>
														<option value="">5</option>
														<option value="">4</option>
														<option value="">3</option>
													</select>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--//.cont-property-->
	
					<div class="cont-asschk">
						<div class="scrollbox">
							<div class="scrollbar">
								<!-- icon-status 상태 클래스 추가 - vi, vw, vc, vd,  -->
								<ul class="cf list">
									<li class="item"><label><input type="checkbox"> <span class="txt">1701</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1702</span> <span class="icon-status vw"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1703</span> <span class="icon-status vc"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vd"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
									<li class="item"><label><input type="checkbox"> <span class="txt">1704</span> <span class="icon-status vi"></span> <span class="txt">RST</span></label></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- / .cont-asschk -->
				</div>	
			</div>
		</div>
		<!-- / .rmAss-contents -->
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-blue fn-cls">SAVE</button>
				<button type="button" class="btn-gray fn-cls">CLOSE</button>
			</div>
		</div>
	</div>
</div>
<!-- / .rmAss-container -->