@charset "utf-8";

@import "../parts/common";
@import "../include/snb_notice";

.contents {min-width: 1900px;}
.cont-container {}

/* 판매채널 일별 */
.agencyday-contents {
	.cont-property {
		.property-tbl {
			@include tbl-style-1;
			td {
				.cell {
					.rdo-box {
						padding: 0 8px;
						label {
							margin-right: 5px;
						}
					}
					.cal-box {
						.inp-cal {
							width: 100px;
						}
					}
					.btn-gray {
						.prev, .next {
							position: relative;
							top: -1px;
							color: #6E7A86;
							padding: 0 5px;
						}
					}
				}
			}
		}
	} // cont-property
	.cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-x(1802px, 100%, 4px);
			.grid-tbl {
				.ie8 & {
					width: 1802px;
				}
				th, td {
					text-align: center;
					letter-spacing: -0.5px;
				}
			}
			.grid-area.grid-contents {
				height: 270px;
				tr {
					td {
						background: #fff !important;
					}
					&.sat {
						td {
							background: $bg-sat-td !important;
						}
					}
					&.sun {
						td {
							background: $bg-sun-td !important;
						}
					}
					&:hover {
						td {
							background: #f8f8f8 !important;
						}
					}
				}
			}
		}
	} // cont-list
	.cont-market {
		margin-top: 10px;
		.tab-list {
			margin-top: 15px;
			> * {
				position: relative;
				float: left;
				color: #444;
			}
			.tab {
				display: inline-block;
				padding: 5px 12px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				background: #f7f7f7;
				border: 1px solid #c5c5c5;
				font-size: 12px;
				border-bottom-color: #9f9f9f;
				& + .tab {
					margin-left: 2px;
				}
				&.on {
					z-index: 1;
					background: #fff;
					border-color: #9f9f9f;
					border-bottom-color: #fff;
				}
			}
		}
		.item-list {
			border-top: 1px solid #9f9f9f;
			padding-top: 10px;
			margin-top: -1px;
			.item {
				display: none;
				&.on {
					display: block;
				}
				.grid-wrap {
					@include grid-scr-x(null, 100%, 4px);
					.grid-tbl {
						th, td {
							text-align: center;
							letter-spacing: -0.5px;
						}
					}
					.grid-area.grid-contents {
						height: 270px;
						tr {
							td {
								background: #fff !important;
							}
							&.sat {
								td {
									background: $bg-sat-td !important;
								}
							}
							&.sun {
								td {
									background: $bg-sun-td !important;
								}
							}
							&:hover {
								td {
									background: #f8f8f8 !important;
								}
							}
						}
					}
				}
			}
		}
	} // cont-market
}