@@include('../include/_head.html', {
	"page": "basic"
})

<body class="page-basic">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents cmCode-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "공통 코드"
		})

		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl property-tbl">
							<colgroup>
								<col style="width:100px">
								<col style="width:120px">
								<col style="width:100px">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">분류</div></th>
									<td>
                                        <div class="cell">
											<select name="" id="" class="form-select gray w-1">
												<option value="">호텔관리</option>
											</select>
										</div>
									</td>
									<th><div class="cell">검색옵션</div></th>
									<td>
                                        <div class="cell">
											<select name="" id="" class="form-select gray w-1">
												<option value="">선택</option>
												<option value="">코드</option>
												<option value="">코드데이터</option>
											</select>
											<input type="text" class="form-input option">
											<button type="button" class="btn-brown">SEARCH</button>
											<button type="button" class="btn-brown">RELOAD</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- //.cont-property -->

			<div class="row row-cont">
				<div class="split cont-code">
					<h3>코드</h3>
					<div class="grid-wrap">
						<div class="grid-area grid-contents">
							<table class="grid-tbl fn-fold">
								<tbody class="rowgroup">
									<tr class="dep-1" ref="line000">
										<td class="ta-left">
											<div class="cell">
												<span class="icon-treeArr indent"></span><span class="icon-trees folder"></span>
												<span class="fw-b">HMS</span> : 호텔관리 (HMS)
											</div>
										</td>
									</tr>
									<tr class="dep-2" ref="line001">
										<td class="ta-left">
											<div class="cell">
												<span class="icon-treeArr indent"></span><span class="icon-trees folder"></span>
												<span class="fw-b">001</span> : 영업장 구분 (HMS)
											</div>
										</td>
									</tr>
									<tr class="dep-3" ref="line001-0">
										<td class="ta-left">
											<div class="cell">
												<span class="icon-treeArr indent"></span><span class="icon-trees folder"></span>
												<span class="fw-b">001001</span> : 객실 (HMS)
											</div>
										</td>
									</tr>
									<tr class="dep-4" ref="line001-0-0">
										<td class="ta-left">
											<div class="cell">
												<span class="icon-trees file"></span>
												<span class="fw-b">00100111</span> : 객실판매 (HMS)
											</div>
										</td>
									</tr>
									<tr class="dep-3" ref="line001-0">
										<td class="ta-left">
											<div class="cell">
												<span class="icon-trees file"></span>
												<span class="fw-b">001002</span> : F&B (HMS)
											</div>
										</td>
									</tr>
									<tr class="dep-2" ref="line002">
										<td class="ta-left">
											<div class="cell">
												<span class="icon-treeArr indent"></span><span class="icon-trees folder"></span>
												<span class="fw-b">002</span> : 입금구분 (HMS)
											</div>
										</td>
									</tr>
									<tr class="dep-3" ref="line002-0">
										<td class="ta-left">
											<div class="cell">
												<span class="icon-trees file"></span>
												<span class="fw-b">002100</span> : POS (HMS)
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /.cont-code -->
				<div class="split cont-data">
					<h3>코드 데이터</h3>
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width:120px">
											<col style="width:150px">
											<col style="width:300px">
											<col style="width:40px">
											<col style="width:80px">
											<col style="width:100px">
											<col style="width:100px">
											<col style="width:80px">
											<col style="width:100px">
											<col style="width:100px">
											<col style="width:100px">
											<col>
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th><div class="cell">데이터코드</div></th>
												<th><div class="cell">데이터명</div></th>
												<th><div class="cell">설명</div></th>
												<th><div class="cell">순서</div></th>
												<th><div class="cell">사용여부</div></th>
												<th><div class="cell">문자열속성</div></th>
												<th><div class="cell">숫자열속성</div></th>
												<th><div class="cell">정수열속성</div></th>
												<th><div class="cell">rmk1-문자열</div></th>
												<th><div class="cell">rmk2-문자열</div></th>
												<th><div class="cell">rmk3-문자열</div></th>
												<th><div class="cell">rmk4-문자열</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:120px">
										<col style="width:150px">
										<col style="width:300px">
										<col style="width:40px">
										<col style="width:80px">
										<col style="width:100px">
										<col style="width:100px">
										<col style="width:80px">
										<col style="width:100px">
										<col style="width:100px">
										<col style="width:100px">
										<col>
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell">0010021100</div></td>
											<td class="ta-left"><div class="cell">Cafe</div></td>
											<td class="ta-left"><div class="cell">식음료</div></td>
											<td><div class="cell">1</div></td>
											<td><div class="cell">Y</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
										</tr>
										<tr>
											<td><div class="cell"></div></td>
											<td class="ta-left"><div class="cell"></div></td>
											<td class="ta-left"><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
					<!-- //.grid-wrap -->
					<div class="cf grid-bottom">
						<a href="#" class="prev st">&lt;&lt;</a>
						<a href="#" class="prev">&lt;</a>
						<span class="num">0</span>
						<a href="#" class="next">&gt;</a>
	  					<a href="#" class="next st">&gt;&gt;</a>
						<span class="count"><span class="co">0</span> Count</span>
					</div>
					<!-- /.grid-bottom -->
				</div>
				<!-- /.cont-cdData -->
			</div>
		</div>
	</div>
	<!--//.contents-->

</div>
</body>
</html>
