@@include('../include/_head.html', {
	"page": "basic"
})

<body class="page-basic">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents mailTem-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "메일 템플릿"
		})

		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl property-tbl">
							<colgroup>
								<col style="width:100px">
								<col style="width:210px">
								<col style="width:100px">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">템플릿 클래스</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select gray">
												<option value=""></option>
												<option value="">1. 예약 거절</option>
												<option value="">2. 예약 확인</option>
											</select>
										</div>
									</td>
									<th><div class="cell">옵션</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select gray w-1">
												<option value=""></option>
												<option value="">제목</option>
												<option value="">내용</option>
											</select>

											<button type="button" class="btn-brown">SEARCH</button>
											<button type="button" class="btn-brown">CLEAR</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- //.cont-property -->

			<div class="cont-list">
				<div class="grid-wrap scr-wrap">
					<div class="grid-scrollable-x">
						<div class="grid-area grid-head">
							<div class="grid-scrollable">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:80px">
										<col style="width:200px">
										<col style="width:350px">
										<col style="width:450px">
										<col>
									</colgroup>
									<thead class="rowgroup">
										<tr>
											<th><div class="cell">번호</div></th>
											<th><div class="cell">Template</div></th>
											<th><div class="cell">제목</div></th>
											<th><div class="cell">내용</div></th>
											<th><div class="cell"></div></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="grid-area grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width:80px">
									<col style="width:200px">
									<col style="width:350px">
									<col style="width:450px">
									<col>
								</colgroup>
								<tbody class="rowgroup">
									<tr>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td class="ta-left"><div class="cell"></div></td>
										<td class="ta-left"><div class="cell"></div></td>
										<td><div class="cell"></div></td>
									</tr>
									<tr>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td class="ta-left"><div class="cell"></div></td>
										<td class="ta-left"><div class="cell"></div></td>
										<td><div class="cell"></div></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<!-- //.grid-wrap -->
				<div class="cf grid-bottom">
					<a href="#" class="prev st">&lt;&lt;</a>
					<a href="#" class="prev">&lt;</a>
					<span class="num">0</span>
					<a href="#" class="next">&gt;</a>
					<a href="#" class="next st">&gt;&gt;</a>
					<span class="count"><span class="co">3</span> Count</span>
				</div>
				<!-- //.grid-bottom-->
			</div>
			<!-- //.cont-list -->
		</div>
	</div>
	<!--//.contents-->

</div>
</body>
</html>
