@charset "utf-8";

@import "../parts/common";

/* 권한코드 */
.roleCode-contents {
	.cont-property {
        .property-tbl {
            @include tbl-style-1;
            td {
                .cell {
					.form-input {
						&.option {
							width: 150px;
						}
					}
                    .form-select { 
						&.option {
							width: 100px;
						}
					}
                    button {
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
	.cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-brown(null, 100%, 0);
			.grid-area.grid-head {
				th {
					&.bor {
						border-bottom: 1px solid $bor-gray-table;
					}
				}
			}
			.grid-area.grid-contents {
				background: #fff;
				height: 650px;
				.grid-tbl {
					td {
						text-align: center;
					}
				}
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
		}
		.grid-bottom {
			@include grid-bottom-page;
			border-radius: 0;
		}
	}
}

/* 사용자권한 */
.roleUser-contents {
	.common[class*=cont-] {
		@include float;
		box-sizing: border-box;
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-brown(null, 100%, 0);
			.grid-area.grid-contents {
				background: #fff;
				height: 650px;
				.grid-tbl {
					td {
						text-align: center;
					}
				}
			}
		}
		.grid-bottom {
			@include grid-bottom-page;
			border-radius: 0;
		}
	}
	$wh: 450px;
	.cont-code {
		width: $wh;
	}
	.cont-list {
		width: calc(100% - #{$wh});
		padding-left: 10px;
	}
}

/* 사용자등록 */
.userRegist-contents {
	.cont-property {
        .property-tbl {
            @include tbl-style-1;
            td {
                .cell {
					.form-input {
						&.option {
							width: 150px;
						}
					}
                    .form-select { 
						&.option {
							width: 100px;
						}
					}
                    button {
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
	.cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-brown(null, 100%, 0);
			.grid-area.grid-contents {
				background: #fff;
				height: 650px;
				.grid-tbl {
					td {
						text-align: center;
					}
				}
			}
		}
		.grid-bottom {
			@include grid-bottom-page;
			border-radius: 0;
		}
	}
}

/* 메뉴권한 */
.roleMenu-contents {
	.common[class*=cont-] {
		@include float;
		box-sizing: border-box;
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-brown(null, 100%, 4px);
			.grid-area.grid-contents {
				background: #fff;
				height: 650px;
				.grid-tbl {
					td {
						text-align: center;
					}
				}
			}
		}
		.grid-bottom {
			@include grid-bottom-page;
			border-radius: 0;
		}
	}
	$wh: 450px;
	.cont-code {
		width: $wh;
	}
	.cont-list {
		width: calc(100% - #{$wh});
		padding-left: 10px;
	}
}