<!-- 메시지 팝업 : message + 버튼 클릭시 등장 팝업 Y/N 여부에 따른 메시지팝업 -->
<div class="dialog-container dialogMsg-container" style="display: block">

    <div class="dialog-wrapper">
        <div class="dialog-header">
            <h2>대화 메시지</h2>
        </div>
        <div class="cf dialog-contents">
            <div class="dialcont-container">
                <div class="content">
                    <div class="cell">
                        <span class="icon-chk green"></span>
                    </div>
                    <div class="cell">
                        <em class="c-1">Message In-House</em> 일요일 정비요청
                    </div>
                </div>
            </div>
        </div>
        <!-- //.dialog-contents-->
        <div class="dialog-footer">
            <div class="row-btn">
                <button type="button" class="btn-gray fn-cls">CONFIRM</button>
            </div>
        </div>
    </div>

    <div class="dialog-wrapper">
        <div class="dialog-header">
            <h2>대화 메시지</h2>
        </div>
        <div class="cf dialog-contents">
            <div class="dialcont-container">
                <div class="content">
                    <div class="cell">
                        <span class="icon-chk green"></span>
                    </div>
                    <div class="cell">
                        <em class="c-1">Message In-House</em> 7/29~8/11사이 이용안하신다고
                        그기간만큼 미뤄줄 수 있냐고 문의주셔서 불가하다고 안내드림
                    </div>
                </div>
            </div>
        </div>
        <!-- //.dialog-contents-->
        <div class="dialog-footer">
            <div class="row-btn">
                <button type="button" class="btn-gray fn-cls">CONFIRM</button>
            </div>
        </div>
    </div>

</div>
<!-- //.dialogMsg-container -->