<!-- 게스트 정보수정 팝업-->
<div class="pop-container gm-container">
    <div class="bg-back"></div>

    <div class="pop-wrapper">
        <div class="pop-header">
            <h2>게스트 정보수정</h2>
            <span class="a-i-x i-x fn-cls"></span>
        </div>
        <div class="cf pop-contents">
            <div class="grid-wrap">
                <div class="grid-contents">
                    <table class="grid-tbl name-tbl">
                        <colgroup>
                            <col class="nth-1" style="width: 92px">
                            <col class="nth-2" style="width: *">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th><div class="cell">이름</div></th>
                                <td>
                                    <div class="cell">
                                        <input type="text" class="form-input">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">성</div></th>
                                <td>
                                    <div class="cell">
                                        <input type="text" class="form-input">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">이메일</div></th>
                                <td>
                                    <div class="cell">
                                        <input type="text" class="form-input">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">연락처</div></th>
                                <td>
                                    <div class="cell">
                                        <input type="text" class="form-input">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">국적</div></th>
                                <td>
                                    <div class="cell">
                                        <input type="text" class="form-input nation">
                                        <button type="button" class="btn-gray w-1">CLEAR</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">언어</div></th>
                                <td>
                                    <div class="cell">
                                        <select name="" id="" class="form-select gray lang">
                                            <option value="">Chinese</option>
                                            <option value="">English</option>
                                            <option value="">Japanese</option>
                                            <option value="">German</option>
                                            <option value="">Korean</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">국가</div></th>
                                <td>
                                    <div class="cell">
                                        <input type="text" class="form-input country">
                                        <button type="button" class="btn-gray w-1">CLEAR</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">성별</div></th>
                                <td>
                                    <div class="cell">
                                        <span class="rdo-box"><label><input type="radio" name="gender"> Male</label></span>
                                        <span class="rdo-box"><label><input type="radio" name="gender"> Femail</label></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">생일</div></th>
                                <td>
                                    <div class="cell">
                                        <span class="cal-box">
                                            <input type="text" class="appe-reset inp-cal date-ui">
                                            <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">여권 번호</div></th>
                                <td>
                                    <div class="cell">
                                        <input type="text" class="form-input">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><div class="cell">회원 번호</div></th>
                                <td>
                                    <div class="cell">
                                        <input type="text" class="form-input">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="cell">레벨 / 평가</div>
                                </th>
                                <td>
                                    <div class="cell">
                                        <select name="" id="" class="form-select gray level">
                                            <option value=""></option>
                                            <option value="">fresh</option>
                                            <option value="">Bronze</option>
                                            <option value="">Silver</option>
                                            <option value="">Gold</option>
                                            <option value="">Sapphire</option>
                                            <option value="">Diamond</option>
                                            <option value="">VIP</option>
                                        </select>
                                        <input type="text" class="form-input eval">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="cell">게스트 유형</div>
                                </th>
                                <td>
                                    <div class="cell">
                                        <select name="" id="" class="form-select gray gstType">
                                            <option value=""></option>
                                            <option value="">기업</option>
                                            <option value="">개인</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="cell">자동차 번호</div>
                                </th>
                                <td>
                                    <div class="cell">
                                        <input type="text" class="form-input">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="cell">주의</div>
                                </th>
                                <td>
                                    <div class="cell">
                                        <textarea name="" id="" cols="30" rows="10" class="textarea-etc"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //.grid-wrap -->
        </div>
        <!-- //.pop-contents-->
        <div class="pop-footer">
            <div class="row-btn">
                <button type="button" class="btn-brown fn-cls">SAVE</button>
                <button type="button" class="btn-gray fn-cls">CALCEL</button>
            </div>
        </div>
    </div>
</div>
<!-- //.gm-container-->