<!-- 패키지 팝업-->
<div class="pop-container pkg-container">
        <div class="bg-back"></div>
    
        <div class="pop-wrapper">
            <div class="pop-header">
                <h2>패키지</h2>
                <span class="a-i-x i-x fn-cls"></span>
            </div>
            <div class="cf pop-contents">
                <div class="popcont-container">
                    <h2 class="cont-tit">
                        <strong>패키지</strong>
                    </h2>
                    <div class="cont-property">
                        <div class="grid-wrap">
                            <div class="grid-area grid-contents">
                                <table class="grid-tbl property-tbl">
                                    <colgroup>
                                        <col style="width: 150px"/>
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th><div class="cell">패키지명</div></th>
                                            <td colspan="5">
                                                <div class="cell">
                                                    <input type="text" class="form-input name">
                                                    <button type="button" class="btn-brown">SEARCH</button>
                                                    <button type="button" class="btn-brown">CLEAR</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--//.cont-property-->
                    <div class="cont-tab">
                        <div class="cf tab-list">
                            <a class="tab on">객실</a>
                            <a class="tab">라바짜</a>
                            <a class="tab">한식당</a>
                            <a class="tab">바베큐</a>
                            <a class="tab">룸서비스</a>
                            <a class="tab">노래방</a>
                            <a class="tab">오락시설</a>
                            <a class="tab">연회장</a>
                            <a class="tab">낚시</a>
                        </div>
                    </div>
                    <!-- /.cont-tab -->
                    <div class="cont-list">
                        <div class="grid-wrap">
                            <div class="grid-scrollable-x">
                                <div class="grid-area grid-head">
                                    <div class="grid-scrollable">
                                        <table class="grid-tbl list-tbl">
                                            <colgroup>
                                                <col style="width: 140px">
                                                <col style="width: 190px">
                                                <col style="width: *">
                                            </colgroup>
                                            <thead class="rowgroup">
                                                <tr>
                                                    <th><div class="cell">패키지코드</div></th>
                                                    <th><div class="cell">패키지명</div></th>
                                                    <th><div class="cell">설명</div></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="grid-area grid-contents">
                                    <table class="grid-tbl list-tbl">
                                        <colgroup>
                                            <col style="width: 140px">
                                            <col style="width: 190px">
                                            <col style="width: *">
                                        </colgroup>
                                        <tbody class="rowgroup">
                                            <tr>
                                                <td><div class="cell"></div></td>
                                                <td><div class="cell">조식 1+1 패키지</div></td>
                                                <td><div class="cell">조식 1+1 패키지</div></td>
                                            </tr>
                                            <tr>
                                                <td><div class="cell">0000</div></td>
                                                <td><div class="cell">마케팅홍보</div></td>
                                                <td><div class="cell">한미친선담청자_마케팅홍보</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- //.grid-wrap -->
                        <div class="cf grid-bottom">
                            <a href="#" class="prev st">&lt;&lt;</a>
                            <a href="#" class="prev">&lt;</a>
                            <select name="" id="" class="num">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                            <a href="#" class="next">&gt;</a>
                            <a href="#" class="next st">&gt;&gt;</a>
                            <span class="count">1 - 100 of 158 items</span>
                        </div>
                        <!-- //.grid-bottom-->
                    </div>
                    <!-- //.cont-list -->
                </div>
            </div>
            <!-- //.pop-contents-->
            <div class="pop-footer">
                <div class="row-btn">
                    <button type="button" class="btn-gray fn-cls">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //.pkg-container -->