<!-- room inventory 카테코리별 팝업 - OOO, OOS 클릭시 -->
<div class="pop-container rmInvO-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>객실 목록</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="cf popcont-container">
                
                <div class="cont-area">
					<div class="grid-toolbar">
						<button type="button" class="btn-gray"><span class="icon ic-excel"></span> Export to Excel</button>
						<button type="button" class="btn-gray"><span class="icon ic-pdf"></span> Export to PDF</button>
					</div>
					<!-- /.grid-toolbar -->
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 60px">
											<col style="width: 30px">
											<col style="width: 30px">
											<col style="width: 30px">
											<col style="width: 30px">
											<col style="width: 100px">
											<col style="width: 100px">
											<col style="width: 300px">
											<col style="width: 60px">
											<col style="width: 60px">
											<col style="width: 60px">
											<col style="width: 600px">
											<col style="width: 120px">
											<col>
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th><div class="cell">층</div></th>
												<th><div class="cell"></div></th>
												<th><div class="cell"></div></th>
												<th><div class="cell"></div></th>
												<th><div class="cell"></div></th>
												<th><div class="cell">객실 번호</div></th>
												<th><div class="cell">객실 타입</div></th>
												<th><div class="cell">손님 이름</div></th>
												<th><div class="cell">손님 수</div></th>
												<th><div class="cell">기온</div></th>
												<th><div class="cell">Extra Bad</div></th>
												<th><div class="cell">비고</div></th>
												<th><div class="cell"></div></th>
												<th><div class="cell"></div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
										<col style="width: 60px">
										<col style="width: 30px">
										<col style="width: 30px">
										<col style="width: 30px">
										<col style="width: 30px">
										<col style="width: 100px">
										<col style="width: 100px">
										<col style="width: 300px">
										<col style="width: 60px">
										<col style="width: 60px">
										<col style="width: 60px">
										<col style="width: 600px">
										<col style="width: 120px">
										<col>
									</colgroup>
									<tbody class="rowgroup">
									    <tr>
									        <td><div class="cell">17</div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell"><img src="../../public/img/icon/ooo.png" alt="Out of Order"></div></td>
									        <td><div class="cell"><img src="../../public/img/icon/vd.png" alt="vd"></div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell">1702</div></td>
									        <td><div class="cell">FTW</div></td>
									        <td><div class="cell">ADDISON STONE</div></td>
									        <td><div class="cell">2</div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell"><img src="../../public/img/icon/ebOut.png" alt="out"></div></td>
									        <td><div class="cell">체크아웃 완료인 객실</div></td>
									        <td><div class="cell"><button type="button" class="btn-gray">Change Status</button></div></td>
									        <td><div class="cell"></div></td>
									    </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- //.grid-wrap -->
                    <div class="cf grid-bottom">
                        <a href="#" class="prev st">&lt;&lt;</a>
                        <a href="#" class="prev">&lt;</a>
                        <span class="num">0</span>
                        <a href="#" class="next">&gt;</a>
                        <a href="#" class="next st">&gt;&gt;</a>
                        <span class="count">1 - 40 of 40 items</span>
                    </div>
                    <!-- //.grid-bottom-->
                </div>
			</div>
			<!-- /.popcont-container -->
        </div>
        <div class="pop-footer">
            <div class="row-btn">
                <button type="button" class="btn-gray fn-cls">CLOSE</button>
            </div>
        </div>
	</div>
</div>
<!-- / .rmInvO-container -->