@@include('../dashboard/include/_head.html', {
"page": "dashboard"
})


<body class="page-dashboard">

    <div class="wrapper">
        @@include('../dashboard/include/_header.html')

        <div class="cf contents dboard-contents">
            <div class="cf cont-container-f">
                <div class="cont-list">
                    <div class="row-contents">
                        <!-- Status -->
                        <div class="row-cont cont-status">
                            <p class="row-tit">오션투유리조트 속초설악비치호텔앤콘도</p>

                            <div class="cont-area">
                                <div class="grid-area grid-contents">
                                    <table class="grid-tbl">
                                        <colgroup>
                                            <col style="width: 33.33%">
                                            <col style="width: 33.33%">
                                            <col style="width: 33.33%">
                                        </colgroup>
                                        <thead class="rowgroup">
                                            <tr>
                                                <th>
                                                    <div class="cell">구분</div>
                                                </th>
                                                <th>
                                                    <div class="cell">입실예정</div>
                                                </th>
                                                <th>
                                                    <div class="cell">단체</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="rowgroup">
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row-cont cont-status">
                            <p class="row-tit">강릉씨베이호텔</p>

                            <div class="cont-area">
                                <div class="grid-area grid-contents">
                                    <table class="grid-tbl">
                                        <colgroup>
                                            <col style="width: 33.33%">
                                            <col style="width: 33.33%">
                                            <col style="width: 33.33%">
                                        </colgroup>
                                        <thead class="rowgroup">
                                            <tr>
                                                <th>
                                                    <div class="cell">구분</div>
                                                </th>
                                                <th>
                                                    <div class="cell">입실예정</div>
                                                </th>
                                                <th>
                                                    <div class="cell">단체</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="rowgroup">
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row-cont cont-status">
                            <p class="row-tit">연호리조트</p>

                            <div class="cont-area">
                                <div class="grid-area grid-contents">
                                    <table class="grid-tbl">
                                        <colgroup>
                                            <col style="width: 33.33%">
                                            <col style="width: 33.33%">
                                            <col style="width: 33.33%">
                                        </colgroup>
                                        <thead class="rowgroup">
                                            <tr>
                                                <th>
                                                    <div class="cell">구분</div>
                                                </th>
                                                <th>
                                                    <div class="cell">입실예정</div>
                                                </th>
                                                <th>
                                                    <div class="cell">단체</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="rowgroup">
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="cell">2020-05-22</div>
                                                </td>
                                                <td>
                                                    <div class="cell">40</div>
                                                </td>
                                                <td>
                                                    <div class="cell">0</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//.cont-name-->
            </div>
        </div>
        <!-- //.contents -->

        <div class="affix shortcut-container">
            <button type="button" id="goTop" class="go-top" onclick="$( 'html, body' ).animate( { scrollTop : 0 }, 100 )">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </div>
    <!-- //.wrapper -->

    <script src="../../public/js/dashboard/init.js"></script>
</body>

</html>