@@include('../include/_head.html', {
	"page": "adm"
})

<body class="page-adm">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents roleMenu-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "메뉴권한"
		})

		<div class="cf cont-container-f">
			<div class="common cont-code">
				<div class="grid-wrap scr-wrap">
					<div class="grid-scrollable-x">
						<div class="grid-area grid-head">
							<div class="grid-scrollable">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:100px">
										<col style="width:250px">
										<col style="width:60px">
										<col>
									</colgroup>
									<thead class="rowgroup">
										<tr>
											<th><div class="cell">권한코드</div></th>
											<th class="ta-left"><div class="cell">권한명</div></th>
											<th><div class="cell">권한</div></th>
											<th><div class="cell"></div></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="grid-area grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width:100px">
									<col style="width:250px">
									<col style="width:60px">
									<col>
								</colgroup>
								<tbody class="rowgroup">
									<tr>
										<td><div class="cell">ADMIN</div></td>
										<td class="ta-left"><div class="cell">업무관리자</div></td>
										<td><div class="cell">2</div></td>
										<td><div class="cell"></div></td>
									</tr>
									<tr>
										<td><div class="cell"></div></td>
										<td class="ta-left"><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
	
					</div>
				</div>
				<!-- //.grid-wrap -->
				<div class="cf grid-bottom">
					<a href="#" class="prev st">&lt;&lt;</a>
					<a href="#" class="prev">&lt;</a>
					<span class="num">0</span>
					<a href="#" class="next">&gt;</a>
					<a href="#" class="next st">&gt;&gt;</a>
					<span class="count"><span class="co">7</span> Count</span>
				</div>
				<!-- //.grid-bottom-->
			</div>

			<div class="common cont-list">
				<div class="grid-wrap scr-wrap">
					<div class="grid-scrollable-x">
						<div class="grid-area grid-head">
							<div class="grid-scrollable">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:200px">
										<col style="width:250px">
										<col style="width:100px">
										<col>
									</colgroup>
									<thead class="rowgroup">
										<tr>
											<th class="ta-left"><div class="cell">아이디</div></th>
											<th class="ta-left"><div class="cell">이름</div></th>
											<th><div class="cell">상태</div></th>
											<th><div class="cell"></div></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="grid-area grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width:200px">
									<col style="width:250px">
									<col style="width:100px">
									<col>
								</colgroup>
								<tbody class="rowgroup">
									<tr>
										<td class="ta-left"><div class="cell">유남규</div></td>
										<td class="ta-left"><div class="cell">유남규</div></td>
										<td><div class="cell">직원</div></td>
										<td><div class="cell"></div></td>
									</tr>
									<tr>
										<td class="ta-left"><div class="cell"></div></td>
										<td class="ta-left"><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
	
					</div>
				</div>
				<!-- //.grid-wrap -->
				<div class="cf grid-bottom">
					<a href="#" class="prev st">&lt;&lt;</a>
					<a href="#" class="prev">&lt;</a>
					<span class="num">0</span>
					<a href="#" class="next">&gt;</a>
					<a href="#" class="next st">&gt;&gt;</a>
					<span class="count"><span class="co">7</span> Count</span>
				</div>
				<!-- //.grid-bottom-->
			</div>
			
		</div>
	</div>
	<!--//.contents-->

</div>
</body>
</html>
