<!-- 사용자 관리등록 팝업-->
<div class="pop-container userMgmRegt-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>사용자 관리등록</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="popcont-container">
                <div class="grid-area grid-area-1">
                    <div class="grid-contents">
                        <table class="grid-tbl">
                            <colgroup>
                                <col style="width: 90px">
                                <col style="width: 364px">
                                <col style="width: 90px">
                                <col style="width: 364px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th><div class="cell necess">아이디</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input inId">
                                        </div>
                                    </td>
                                    <th><div class="cell necess">비밀번호</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="password" class="form-input">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell necess">이름</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input">
                                        </div>
                                    </td>
                                    <th><div class="cell necess">이름(영문)</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell necess">상태코드</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray stCode">
                                                <option value="">전체</option>
                                                <option value="">1. 직원</option>
                                                <option value="">2. 계약직</option>
                                                <option value="">3. 퇴사자</option>
                                                <option value="">4. 메이드</option>
                                                <option value="">5. 기타사용자</option>
                                            </select>
                                        </div>
                                    </td>
                                    <th><div class="cell necess">Property</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray propty">
                                                <option value="">Ramada Pt</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="grid-area grid-area-2">
                    <div class="grid-contents">
                        <table class="grid-tbl">
                            <colgroup>
                                <col style="width: 90px">
                                <col style="width: 364px">
                                <col style="width: 90px">
                                <col style="width: 364px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th><div class="cell">주민등록번호</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input reg" disabled>
                                            <span>-</span>
                                            <input type="text" class="form-input reg" disabled>
                                        </div>
                                    </td>
                                    <th><div class="cell">E-Mail</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input email">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">휴대전화/내선</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray telNum">
                                                <option value=""></option>
                                                <option value="">010</option>
                                                <option value="">011</option>
                                                <option value="">016</option>
                                            </select>
                                            <input type="text" class="form-input telNum">
                                            <input type="text" class="form-input telNum">
                                            <span>/</span>
                                            <input type="text" class="form-input telNum last">
                                        </div>
                                    </td>
                                    <th><div class="cell">비상연락처</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray telNum">
                                                <option value=""></option>
                                                <option value="">010</option>
                                                <option value="">011</option>
                                                <option value="">016</option>
                                            </select>
                                            <input type="text" class="form-input telNum">
                                            <input type="text" class="form-input telNum">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">주소</div></th>
                                    <td colspan="3">
                                        <div class="cell">
                                            <input type="text" class="form-input addr-1" readonly>
                                            <button type="button" class="btn-gray">주소검색</button>
                                            <input type="text" class="form-input addr-2" readonly>
                                            <input type="text" class="form-input addr-2">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">사진</div></th>
                                    <td colspan="3">
                                        <div class="cell">
                                            <input type="file">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
			</div>
		</div>
		<!-- //.pop-contents-->
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-blue fn-cls">SAVE</button>
				<button type="button" class="btn-red fn-cls" disabled>DELETE</button>
				<button type="button" class="btn-gray fn-cls">CLOSE</button>
			</div>
		</div>
	</div>
</div>
<!-- //.userMgmRegt-container -->

<!-- 권한코드 등록 팝업-->
<div class="pop-container authCodeRegt-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>권한코드 등록</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="popcont-container">
                <div class="grid-area">
                    <div class="grid-contents">
                        <table class="grid-tbl">
                            <colgroup>
                                <col style="width: 82px">
                                <col style="width: *">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th><div class="cell">권한코드</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input" placeholder="권한코드">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">권한명</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input" placeholder="권한명">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">설명</div></th>
                                    <td>
                                        <div class="cell">
                                            <textarea name="" id="" cols="30" rows="10" class="textarea-etc" placeholder="설명"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">권한</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input codeNum" value="0">
                                            <span>비트 연산 2진수 입력</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
			</div>
		</div>
		<!-- //.pop-contents-->
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-blue fn-cls">SAVE</button>
				<button type="button" class="btn-red fn-cls">DELETE</button>
				<button type="button" class="btn-gray fn-cls">CLOSE</button>
			</div>
		</div>
	</div>
</div>
<!-- //.authCodeRegt-container -->

<!-- 사용자권한 등록 팝업-->
<div class="pop-container userCodeRegt-container" style="display: block">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>사용자권한 등록</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="popcont-container">
                <div class="grid-area">
                    <div class="grid-contents">
                        <table class="grid-tbl">
                            <colgroup>
                                <col style="width: 120px">
                                <col style="width: 180px">
                                <col style="width: 120px">
                                <col style="width: 180px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th><div class="cell">권한</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input" value="업무관리자" disabled>
                                        </div>
                                    </td>
                                    <th><div class="cell">Property</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray">
                                                <option value="">Ramada Pt</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">사용자</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray">
                                                <option value="">송진아</option>
                                            </select>
                                        </div>
                                    </td>
                                    <th><div class="cell">아이디</div></th>
                                    <td><div class="cell">송진아</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-box">
                        <button type="button" class="btn-gray prev"><span>이전</span></button> 
                        <span class="txt-num">1 / 4</span>
                        <button type="button" class="btn-gray next"><span>다음</span></button>
                    </div>
                </div>
			</div>
		</div>
		<!-- //.pop-contents-->
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-blue fn-cls">SAVE</button>
				<button type="button" class="btn-red fn-cls">DELETE</button>
				<button type="button" class="btn-gray fn-cls">CLOSE</button>
			</div>
		</div>
	</div>
</div>
<!-- //.userCodeRegt-container -->
