<!-- 연회목록 신규 팝업-->
<div class="pop-container bnqNew-container" style="display: block">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>신규</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="popcont-container">
			    <div class="cf row-1 row-contents">
			        <div class="row-cont cont-resvt">
                        <h2 class="cont-tit">
                            <strong>예약</strong>
                        </h2>
						<div class="grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width: 10%">
									<col style="width: 40%">
									<col style="width: 10%">
									<col style="width: 40%">
								</colgroup>
								<tbody>
									<tr>
										<th><div class="cell necess">날짜</div></th>
                                        <td>
                                            <div class="cell">
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui " value="">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                                </span>
                                                <span>~</span>
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui" value="">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                                </span>
                                                <input type="text" class="form-input w-1" placeholder="HH:MM">
                                                <span>~</span>
                                                <input type="text" class="form-input w-1" placeholder="HH:MM">
                                            </div>
                                        </td>
										<th><div class="cell necess">이벤트 명</div></th>
										<td>
                                            <div class="cell">
                                                <input type="text" class="form-input">
                                            </div>
                                        </td>
									</tr>
									<tr>
										<th><div class="cell necess">업장</div></th>
										<td>
                                            <div class="cell">
                                                <select name="" id="" class="form-select gray">
                                                    <option value=""></option>
                                                    <option value="">컨퍼런스1-대연회장</option>
                                                    <option value="">컨퍼런스2-대연회장</option>
                                                    <option value="">2층-레스토랑</option>
                                                </select>
                                            </div>
                                        </td>
										<th><div class="cell necess">메뉴</div></th>
										<td>
                                            <div class="cell">
                                                <select name="" id="" class="form-select gray">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>
									</tr>
                                    <tr>
                                        <th><div class="cell">이름</div></th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input name">
                                                <input type="text" class="form-input nameTel" placeholder="TEL">
                                            </div>
                                        </td>
                                        <th><div class="cell">Mate</div></th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input name">
                                                <input type="text" class="form-input nameTel" placeholder="TEL">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><div class="cell">이메일</div></th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input">
                                            </div>
                                        </td>
                                        <th><div class="cell">추천인</div></th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><div class="cell necess">보증</div></th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input w-1">
                                            </div>
                                        </td>
                                        <th><div class="cell necess">기대</div></th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input w-1">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><div class="cell">보증금</div></th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input ta-right deposit" value="0">
                                            </div>
                                        </td>
                                        <th><div class="cell">방법</div></th>
                                        <td>
                                            <div class="cell">
                                                <select name="" id="" class="form-select gray">
                                                    <option value=""></option>
                                                    <option value="">카드</option>
                                                    <option value="">현금</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><div class="cell">주소</div></th>
                                        <td colspan="3">
                                            <div class="cell">
                                                <input type="text" class="form-input w-1" readonly>
                                                <button type="button" class="btn-gray">주소검색</button>
                                                <input type="text" class="form-input addr">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><div class="cell">메모</div></th>
                                        <td colspan="3">
                                            <div class="cell">
                                                <textarea name="" id="" cols="30" rows="10" class="textarea-etc"></textarea>
                                            </div>
                                        </td>
                                    </tr>
								</tbody>
							</table>
						</div>
			        </div>
			        
			        <div class="row-cont cont-cusmr">
                        <h2 class="cont-tit">
                            <strong>고객</strong>
                        </h2>
                        <div class="scr-wrap">
                            <div class="grid-scrollable-x">
                                <div class="grid-area grid-head">
                                    <div class="grid-scrollable">
                                        <table class="grid-tbl">
                                            <colgroup>
                                                <col style="width:170px">
                                                <col style="width:120px">
                                                <col style="width:140px">
                                                <col>
                                            </colgroup>
                                            <thead class="rowgroup">
                                                <tr>
                                                    <th><div class="cell order-ui">가능한 고객</div></th>
                                                    <th><div class="cell order-ui">전화번호</div></th>
                                                    <th><div class="cell order-ui">이메일</div></th>
                                                    <th><div class="cell order-ui">Mate</div></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="grid-area grid-contents">
                                    <table class="grid-tbl">
                                        <colgroup>
                                            <col style="width:170px">
                                            <col style="width:120px">
                                            <col style="width:140px">
                                            <col>
                                        </colgroup>
                                        <tbody class="rowgroup">
                                            <tr>
                                                <td colspan="4"><div class="cell"></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- //.grid-wrap -->
                        <div class="cf grid-bottom">
                            <span class="count">전체 <em>0</em>개의 목록이 있습니다.</span>
                        </div>
                        <!-- //.grid-bottom-->
			        </div>
			    </div>
                
			    <div class="cf row-2 row-contents">
			        <div class="row-cont cont-recmd">
                        <h2 class="cont-tit">
                            <strong>추천</strong>
                        </h2>
                        <div class="scr-wrap">
                            <div class="grid-scrollable-x">
                                <div class="grid-area grid-head">
                                    <div class="grid-scrollable">
                                        <table class="grid-tbl">
                                            <colgroup>
                                                <col style="width:40px">
                                                <col style="width:120px">
                                                <col style="width:250px">
                                                <col style="width:90px">
                                                <col style="width:60px">
                                                <col style="width:60px">
                                                <col style="width:150px">
                                                <col style="width:80px">
                                                <col style="width:150px">
                                                <col style="width:80px">
                                                <col style="width:110px">
                                                <col style="width:170px">
                                                <col>
                                            </colgroup>
                                            <thead class="rowgroup">
                                                <tr>
                                                    <th><div class="cell order-ui">No.</div></th>
                                                    <th><div class="cell order-ui">추천인 번호</div></th>
                                                    <th><div class="cell order-ui">이벤트</div></th>
                                                    <th><div class="cell order-ui">날짜</div></th>
                                                    <th><div class="cell order-ui">From</div></th>
                                                    <th><div class="cell order-ui">To</div></th>
                                                    <th><div class="cell order-ui">업장</div></th>
                                                    <th><div class="cell order-ui">보증금</div></th>
                                                    <th><div class="cell order-ui">이름</div></th>
                                                    <th><div class="cell order-ui">메뉴</div></th>
                                                    <th><div class="cell order-ui">전화번호</div></th>
                                                    <th><div class="cell order-ui">이메일</div></th>
                                                    <th><div class="cell order-ui">주소</div></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="grid-area grid-contents">
                                    <table class="grid-tbl">
                                        <colgroup>
                                            <col style="width:40px">
                                            <col style="width:120px">
                                            <col style="width:250px">
                                            <col style="width:90px">
                                            <col style="width:60px">
                                            <col style="width:60px">
                                            <col style="width:150px">
                                            <col style="width:80px">
                                            <col style="width:150px">
                                            <col style="width:80px">
                                            <col style="width:110px">
                                            <col style="width:170px">
                                            <col>
                                        </colgroup>
                                        <tbody class="rowgroup">
                                            <tr>
                                                <td colspan="13"><div class="cell"></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- //.grid-wrap -->
                        <div class="cf grid-bottom">
                            <span class="count"><em>0</em> Count</span>
                        </div>
                        <!-- //.grid-bottom-->
			        </div>
			    </div>
			</div>
		</div>
		<!-- //.pop-contents-->
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-blue fn-cls" disabled>SAVE</button>
				<button type="button" class="btn-green fn-cls">CLEAR</button>
			</div>
		</div>
	</div>
</div>
<!-- //.bnqNew-container -->

<!-- 예약확인 팝업-->
<div class="pop-container rsvConfmt-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>예약확인</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="popcont-container">
                <div class="cf tab-list">
                    <a class="tab on">정보</a>
                </div>
                <!--//.tab-list-->
                <div class="item-list">
                    <div class="common infomation-container on">
                        <p class="cont-sub-tit">예약자</p>
						<div class="grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width: 80px">
									<col style="width: 305px">
									<col style="width: 80px">
									<col style="width: 305px">
								</colgroup>
								<tbody>
									<tr>
										<th><div class="cell">예약자 번호</div></th>
										<td><div class="cell">KSG170615002</div></td>
										<th><div class="cell">예약 날짜</div></th>
										<td><div class="cell">2017-06-15</div></td>
									</tr>
									<tr>
										<th><div class="cell">날짜</div></th>
										<td><div class="cell">2017-06-21 [ 14:00 ~ 17:00 ]</div></td>
										<th><div class="cell">이벤트</div></th>
										<td><div class="cell">태우모듈 간담회</div></td>
									</tr>
									<tr>
										<th><div class="cell">업장</div></th>
										<td><div class="cell">컨퍼런스1-대연회장</div></td>
										<th><div class="cell">메뉴</div></th>
										<td><div class="cell">컨퍼런스1-대연회장</div></td>
									</tr>
									<tr>
										<th><div class="cell">고객</div></th>
										<td><div class="cell">권태식</div></td>
										<th><div class="cell">연락처</div></th>
										<td><div class="cell">010-3017-4228</div></td>
									</tr>
									<tr>
										<th><div class="cell">Mate</div></th>
										<td><div class="cell"></div></td>
										<th><div class="cell">연락처</div></th>
										<td><div class="cell"></div></td>
									</tr>
									<tr>
										<th><div class="cell">이메일</div></th>
										<td><div class="cell">dt027936@mobis.co.kr</div></td>
										<th><div class="cell">추천인</div></th>
										<td><div class="cell"></div></td>
									</tr>
									<tr>
										<th><div class="cell">보장</div></th>
										<td><div class="cell">20</div></td>
										<th><div class="cell">기대</div></th>
										<td><div class="cell">20</div></td>
									</tr>
									<tr>
										<th><div class="cell">보증금</div></th>
										<td><div class="cell">0</div></td>
										<th><div class="cell">방법</div></th>
										<td><div class="cell"></div></td>
									</tr>
									<tr>
										<th><div class="cell">주소</div></th>
										<td colspan="3"><div class="cell"></div></td>
									</tr>
									<tr>
										<th><div class="cell">메모</div></th>
										<td colspan="3"><div class="cell">20명 소연회장 이용 3시간 33000*3=99000 / 현장결제</div></td>
									</tr>
								</tbody>
							</table>
						</div>
                    </div>
                </div>
                <!-- //.item-list -->
			</div>
		</div>
		<!-- //.pop-contents-->
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-brown fn-cls">PRINT</button>
				<button type="button" class="btn-brown fn-cls">DOWN</button>
				<button type="button" class="btn-gray fn-cls">CLOSE</button>
			</div>
		</div>
	</div>
</div>
<!-- //.rsvConfmt-container -->

<!-- 아침식사 상세 팝업-->
<div class="pop-container bkfastDtil-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>조식 상세</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="popcont-container">
                <div class="cont-property">
                    <div class="grid-wrap">
                        <div class="grid-contents">
                            <table class="grid-tbl property-tbl">
                                <colgroup>
                                    <col style="width: 60px">
                                    <col style="width: *">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th><div class="cell">날짜</div></th>
                                        <td>
                                            <div class="cell">
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                                </span>
                                                <button type="button" class="btn-brown">SEARCH</button>
                                                
                                                <span class="pull-right">
                                                    <button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
                                                    <button type="button" class="btn-gray btn-i"><span class="icon ic-pdf"></span>PDF</button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="cont-area">
                    <div class="grid-toolbar">
                        <p>열 그룹을 끌어서 이곳에 놓어 해당 열별로 그룹화 하십시오.</p>
                    </div>
                    <!-- /.grid-toolbar -->
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 60px">
											<col style="width: 140px">
											<col style="width: 155px">
											<col style="width: 150px">
											<col style="width: 125px">
											<col style="width: *">
											<col style="width: 55px">
											<col style="width: 80px">
											<col style="width: 110px">
											<col style="width: 110px">
											<col style="width: 110px">
											<col style="width: 85px">
											<col style="width: 85px">
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th><div class="cell order-ui">방#</div></th>
												<th><div class="cell order-ui">회원</div></th>
												<th><div class="cell order-ui">계정</div></th>
												<th><div class="cell order-ui">그룹명</div></th>
												<th><div class="cell order-ui">국가</div></th>
												<th><div class="cell order-ui">머문 날짜 ~ 떠난 날짜</div></th>
												<th><div class="cell order-ui">숙박 수</div></th>
												<th><div class="cell order-ui">인원 수</div></th>
												<th><div class="cell order-ui">정가</div></th>
												<th><div class="cell order-ui">부가세</div></th>
												<th><div class="cell order-ui">가격</div></th>
												<th><div class="cell order-ui">성인 수</div></th>
												<th><div class="cell order-ui">아이 수</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
                                        <col style="width: 60px">
                                        <col style="width: 140px">
                                        <col style="width: 155px">
                                        <col style="width: 150px">
                                        <col style="width: 125px">
                                        <col style="width: *">
                                        <col style="width: 55px">
                                        <col style="width: 80px">
                                        <col style="width: 110px">
                                        <col style="width: 110px">
                                        <col style="width: 110px">
                                        <col style="width: 85px">
                                        <col style="width: 85px">
									</colgroup>
									<tbody class="rowgroup">
									    <tr>
									        <td><div class="cell">1611</div></td>
									        <td><div class="cell">IAN GREEN</div></td>
									        <td><div class="cell">다이렉트</div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell">2019-01-31 ~ 2019-02-15</div></td>
									        <td><div class="cell">15</div></td>
									        <td><div class="cell">1</div></td>
									        <td class="ta-right"><div class="cell">0</div></td>
									        <td class="ta-right"><div class="cell">0</div></td>
									        <td class="ta-right"><div class="cell">0</div></td>
									        <td><div class="cell">1</div></td>
									        <td><div class="cell">0</div></td>
									    </tr>
									    <tr>
									        <td><div class="cell">1601</div></td>
									        <td><div class="cell">RICHARD COPPING</div></td>
									        <td><div class="cell">다이렉트</div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell">2019-01-31 ~ 2019-02-15</div></td>
									        <td><div class="cell">15</div></td>
									        <td><div class="cell">1</div></td>
									        <td class="ta-right"><div class="cell">0</div></td>
									        <td class="ta-right"><div class="cell">0</div></td>
									        <td class="ta-right"><div class="cell">0</div></td>
									        <td><div class="cell">1</div></td>
									        <td><div class="cell">0</div></td>
									    </tr>
									    <tr>
									        <td><div class="cell">0000</div></td>
									        <td><div class="cell">YEJI KIM(김예지)</div></td>
									        <td><div class="cell">아고다</div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell">2019-04-08 ~ 2019-04-09</div></td>
									        <td><div class="cell">1</div></td>
									        <td><div class="cell">2</div></td>
									        <td class="ta-right"><div class="cell">18,000</div></td>
									        <td class="ta-right"><div class="cell">1,800</div></td>
									        <td class="ta-right"><div class="cell">19,800</div></td>
									        <td><div class="cell">2</div></td>
									        <td><div class="cell">0</div></td>
									    </tr>
									</tbody>
								</table>
							</div>
						</div>
                        <div class="grid-area grid-total">
                            <table class="grid-tbl">
                                <colgroup>
                                    <col style="width: 60px">
                                    <col style="width: 140px">
                                    <col style="width: 155px">
                                    <col style="width: 150px">
                                    <col style="width: 125px">
                                    <col style="width: *">
                                    <col style="width: 55px">
                                    <col style="width: 80px">
                                    <col style="width: 110px">
                                    <col style="width: 110px">
                                    <col style="width: 110px">
                                    <col style="width: 85px">
                                    <col style="width: 85px">
                                </colgroup>
                                <tbody class="rowgroup">
                                    <tr>
                                        <td><div class="cell"></div></td>
                                        <td><div class="cell"></div></td>
                                        <td><div class="cell"></div></td>
                                        <td><div class="cell"></div></td>
                                        <td><div class="cell"></div></td>
                                        <td><div class="cell"></div></td>
                                        <td><div class="cell"></div></td>
                                        <td class="ta-left fw-b"><div class="cell">합계: 4</div></td>
                                        <td class="ta-left fw-b"><div class="cell">합계: 18,000</div></td>
                                        <td class="ta-left fw-b"><div class="cell">합계: 1,800</div></td>
                                        <td class="ta-left fw-b"><div class="cell">합계: 19,800</div></td>
                                        <td class="ta-left fw-b"><div class="cell">합계: 4</div></td>
                                        <td class="ta-left fw-b last"><div class="cell inBl">합계: 0</div><span class="square"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
					</div>
					<!-- //.grid-wrap -->
                </div>
			</div>
		</div>
		<!-- //.pop-contents-->
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-gray fn-cls">CLOSE</button>
			</div>
		</div>
	</div>
</div>
<!-- //.bkfastDtil-container -->

<!-- 연회일정 팝업-->
<div class="pop-container bqCalEvent-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>일정</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="popcont-container">
				<div class="grid-area">
                    <div class="grid-contents">
                        <table class="grid-tbl">
                            <colgroup>
                                <col style="width: 120px">
                                <col style="width: *">
                                <col style="width: 120px">
                                <col style="width: *">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th><div class="cell">제목</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input" value="">
                                        </div>
                                    </td>
                                    <th><div class="cell">업장</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray w-1">
                                                <option value=""></option>
                                                <option value="">컨퍼런스1-대연회장</option>
                                                <option value="">컨퍼런스2-대연회장</option>
                                                <option value="">2층-레스토랑</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">시작 시간</div></th>
                                    <td>
                                        <div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui" value="">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="time-box">
                                                <select name="" id="" class="form-select">
                                                    <option value="">12:00 AM</option>
                                                    <option value="">12:15 AM</option>
                                                    <option value="">12:30 AM</option>
                                                    <option value="">12:45 AM</option>
                                                </select>
												<span class="i-cal"><span class="icon ic-clock"></span></span>
											</span>
                                        </div>
                                    </td>
                                    <th><div class="cell">메뉴</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">종료 시간</div></th>
                                    <td>
                                        <div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui" value="">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="time-box">
                                                <select name="" id="" class="form-select">
                                                    <option value="">12:00 AM</option>
                                                    <option value="">12:15 AM</option>
                                                    <option value="">12:30 AM</option>
                                                    <option value="">12:45 AM</option>
                                                </select>
												<span class="i-cal"><span class="icon ic-clock"></span></span>
											</span>
                                        </div>
                                    </td>
                                    <th><div class="cell">Mate</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input w-1">
                                            <input type="text" class="form-input w-1" placeholder="TEL">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">이름</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input w-1">
                                            <input type="text" class="form-input w-1" placeholder="TEL">
                                        </div>
                                    </td>
                                    <th><div class="cell">추천인</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">이메일</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input">
                                        </div>
                                    </td>
                                    <th><div class="cell">기대</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input w-2">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">보장</div></th>
                                    <td>
                                        <div class="cell">
                                            <input type="text" class="form-input w-2">
                                        </div>
                                    </td>
                                    <th><div class="cell">방법</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray">
                                                <option value=""></option>
                                                <option value="">카드</option>
                                                <option value="">현금</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">보증금</div></th>
                                    <td colspan="3">
                                        <div class="cell">
                                            <input type="text" class="form-input w-1">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">설명</div></th>
                                    <td colspan="3">
                                        <div class="cell">
                                            <textarea name="" id="" cols="30" rows="10" class="textarea-etc"></textarea>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
			</div>
		</div>
		<!-- //.pop-contents-->
		<div class="pop-footer">
			<div class="row-btn">
				<button type="button" class="btn-blue fn-cls">SAVE</button>
				<!-- 생성된 일정을 수정할때 나타나는 버튼 -->
				<!--<button type="button" class="btn-red fn-cls">DELETE</button>-->
				<button type="button" class="btn-gray fn-cls">CLOSE</button>
			</div>
		</div>
	</div>
</div>
<!-- //.bqCalEvent-container -->

<style>
    .pop-container {display: none;}
</style>