@@include('../include/_head.html', {
	"page": "reservation"
})

<body class="page-reservation">

<div class="wrapper">
	@@include('../include/_header.html')
	
	<div class="cf contents name-contents">
		
		@@include('../include/_row_h2.html', {
			"page-title": "C/L 계산원"
		})
		
		<div class="cf cont-container-f">
			
		</div>
	</div>
	<!--//.contents-->
	
	<!-- @@include('../include/pop/front/inhouse.html') -->
	@@include('../include/pop/front/inhistory.html')
	<!-- @@include('../include/pop/front/statusSvc.html') -->
	<!-- @@include('../include/pop/rsv/pkg.html') -->
	<!-- @@include('../include/pop/rsv/rate.html') -->
	<!-- @@include('../include/pop/front/rmSvcStatus.html') -->
	<!-- @@include('../include/pop/front/chkInGroup.html') -->
	<!-- @@include('../include/pop/front/rmAssMini.html') -->
	<!-- @@include('../include/pop/pop_rsv.html') -->
	<!-- @@include('../include/pop/pop_front.html') -->
	<!-- @@include('../include/pop/pop_cashier.html') -->
	<!-- @@include('../include/pop/pop_fnb.html') -->
	<!-- @@include('../include/pop/pop_inhouse.html') -->
	<!-- @@include('../include/pop/pop_adm.html') -->

	<!-- @@include('../include/pop/popFn.html') -->

	<!-- <button onclick="$('.pop-container').show(); $('.date-ui-test').datepicker();" class="showBtn">SHOW</button> -->
	<style>
		/* .pop-container {display: block;} */
		/* .pop-container {display: none;}
		.showBtn {
			position: relative;
			left: 120px;
		} */
	</style>

</div>
</body>
</html>
