@@include('../include/_head.html', {
	"page": "reservation"
})

<body class="page-reservation">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="menupop pop-container-3">
		<div class="pop-cell">
			<div class="pop-wrapper">
				<div class="pop-header">
					<h2 class="hidden">즐겨찾기메뉴</h2>
				</div>
				<div class="pop-contents">
					
				</div>
			</div>
		</div>
		
		<div class="lnb" style="display: none">
			<a href="javascrtip:;" class="btna quick-plus">
				<img src="../../public/img/icon/quick/quickMenuPlus.png" alt="즐겨찾기 메뉴 추가">
			</a>
			<!-- 메뉴 없을 시 노출 -->
			<!-- <a href="javascript:;" class="btna quick-none">
				<img src="../../public/img/icon/quick/split.png" alt="즐겨찾기 메뉴 없음">
			</a> -->
			<ul class="menu cf">
				<!-- 메뉴 dep-1 카테고리별 이미지(캐셔링, 미수금 - front 이미지사용)-->
				<!-- <img src="../../public/img/icon/quick/reservation.png" alt="예약">
				<img src="../../public/img/icon/quick/front.png" alt="프론트">
				<img src="../../public/img/icon/quick/cash.png" alt="캐셔링">
				<img src="../../public/img/icon/quick/gold.png" alt="미수금">
				<img src="../../public/img/icon/quick/housekeep.png" alt="시설관리">
				<img src="../../public/img/icon/quick/fnb.png" alt="음식료품">
				<img src="../../public/img/icon/quick/report.png" alt="현황">
				<img src="../../public/img/icon/quick/analysis.png" alt="분석">
				<img src="../../public/img/icon/quick/basic.png" alt="기본">
				<img src="../../public/img/icon/quick/adm.png" alt="관리자"> -->
				<li class="item on">
					<a href="javascript:;">
						<img src="../../public/img/icon/quick/front.png" alt="프론트">
						<span class="lbl">프론트</span>
					</a>
				</li>
				<li class="item">
					<a href="javascript:;">
						<img src="../../public/img/icon/quick/status.png" alt="보고서">
						<span class="lbl">전년대비 매출액 현황</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--/.sidebar.left-->
	
	<div class="cf contents name-contents">
		
		@@include('../include/_row_h2.html', {
			"page-title": "C/L 계산원"
		})
		
		<div class="cf cont-container-f">
			
		</div>
	</div>
	<!--//.contents-->
	
	<div id="layer">
		<!-- @@include('../layer/inhouse/cashier_posting.html') -->
	</div>
	<!-- /#layer -->

</div>
<!-- /.wrapper -->
</body>
</html>
