<div class="pop-container-3 all-menu" id="allMenu" style="display: none">
    <div class="bg-back"></div>
    <div class="pop-cell">
        <div class="pop-wrapper">
            <div class="pop-header">
                <h2 class="hidden">전체 메뉴</h2>
                <button type="button" class="cls-btn"><img src="../../public/img/icon/menupop/x.png" alt="닫기"></button>
            </div>
            <div class="pop-contents">
                <div class="panel-list cf">
                    <div class="panel-item rsv-panel">
                        <h3 class="panel-title">
                            <span class="s-i"><img src="../../public/img/icon/menupop/reservation.png" alt="예약"></span>
                            <span class="lbl">예약<br><span class="en">Reservation</span></span>
                        </h3>
                        <div class="panel-contents">
                            <div class="scroll">
                                <ul class="menu-list">
                                    <li class="item">
                                        <a href="../reservation/form.php" class="link" target="_blank">
                                            <span class="s-i"></span>개인 예약<br><span class="en">(Reservation FIT)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../reservation/form.php?t=group" class="link" target="_blank">
                                            <span class="s-i"></span>단체 예약<br><span class="en">(Reservation Group)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../reservation/reservationList.php" class="link" target="_blank">
                                            <span class="s-i"></span>예약 리스트<br><span class="en">(Room Inventory)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../reservation/account.php" class="link" target="_blank">
                                            <span class="s-i"></span>판매처<br><span class="en">(Account)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-item front-panel">
                        <h3 class="panel-title"><span class="s-i"><img src="../../public/img/icon/menupop/front.png"
									alt="프론트"></span><span class="lbl">프론트<br><span class="en">Front</span></span>
                        </h3>
                        <div class="panel-contents">
                            <div class="scroll">
                                <ul class="menu-list">
                                    <li class="item">
                                        <a href="../front/chkin.php" class="link" target="_blank">
                                            <span class="s-i"></span>체크인<br><span class="en">(Check In)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../front/inhouse.php" class="link" target="_blank">
                                            <span class="s-i"></span>투숙자목록<br><span class="en">(In House)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../front/chkout.php" class="link" target="_blank">
                                            <span class="s-i"></span>체크아웃<br><span class="en">(Departures)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../front/room.php" class="link" target="_blank">
                                            <span class="s-i"></span>객실현황<br><span class="en">(Room Status)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../front/room-status.php" class="link" target="_blank">
                                            <span class="s-i"></span>객실현황 리스트<br><span class="en">(Room Status List)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-item inhouse-panel">
                        <h3 class="panel-title">
                            <span class="s-i"><img src="../../public/img/icon/menupop/inhouse.png" alt="시설관리"></span>
                            <span class="lbl">시설관리<br><span class="en">House keeping</span></span>
                        </h3>
                        <div class="panel-contents">
                            <div class="scroll">
                                <ul class="menu-list">
                                    <li class="item">
                                        <a href="../front/room.php" class="link" target="_blank">
                                            <span class="s-i"></span>객실현황<br><span class="en">(Room Status)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../inhouse/list.php" class="link" target="_blank">
                                            <span class="s-i"></span>체크인 대상 목록
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../inhouse/list.php?a=1" class="link" target="_blank">
                                            <span class="s-i"></span>투숙자 목록
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../inhouse/list.php?a=2" class="link" target="_blank">
                                            <span class="s-i"></span>체크아웃 대상 목록
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-item fnb-panel">
                        <h3 class="panel-title">
                            <span class="s-i"><img src="../../public/img/icon/menupop/fnb.png" alt="부대업장"></span>
                            <span class="lbl">부대업장<br><span class="en">F&amp;B</span></span>
                        </h3>
                        <div class="panel-contents">
                            <div class="scroll">
                                <ul class="menu-list">
                                    <li class="item">
                                        <a href="../fnb/menu.php" class="link" target="_blank">
                                            <span class="s-i"></span>메뉴<br><span class="en">(Menu)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../fnb/purchase.php" class="link" target="_blank">
                                            <span class="s-i"></span>구매 리스트<br><span class="en">(Purchase List)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../fnb/day.php" class="link" target="_blank">
                                            <span class="s-i"></span>일별판매<br><span class="en">(F&amp;B Daily Statistics)</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="../fnb/month.php" class="link" target="_blank">
                                            <span class="s-i"></span>월별판매<br><span class="en">(F&amp;B Monthly Statistics)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-item report-panel">
                        <h3 class="panel-title">
                            <span class="s-i"><img src="../../public/img/icon/menupop/report.png" alt="리포트"></span>
                            <span class="lbl">리포트<br><span class="en">Report</span></span>
                        </h3>
                        <div class="panel-contents">
                            <div class="scroll">
                                <ul class="menu-list">
                                    <li class="item">
                                        <a href="../report/front-room-change.php" class="link" target="_blank">
                                            <span class="s-i"></span>프론트<br><span class="en">(Front)</span>
                                        </a>
                                        <ul class="menu-list2">
                                            <li class="item"><a href="../report/front-room-change.php" class="link" target="_blank"><span class="s-i"></span>객실변경</a></li>
                                            <li class="item"><a href="../report/front-noshow.php" class="link" target="_blank"><span class="s-i"></span>노쇼</a></li>
                                        </ul>
                                    </li>
                                    <li class="item">
                                        <a href="../report/sales-daily.php" class="link" target="_blank">
                                            <span class="s-i"></span>판매 / 예약<br><span class="en">(Sales &amp; Reservation)</span>
                                        </a>
                                        <ul class="menu-list2">
                                            <li class="item"><a href="../report/sales-daily.php" class="link" target="_blank"><span class="s-i"></span>일별현황</a></li>
                                            <li class="item"><a href="../report/sales-rsv-cancel.php" class="link" target="_blank"><span class="s-i"></span>예약취소</a></li>
                                        </ul>
                                    </li>
                                    <li class="item">
                                        <a href="../report/audit-report.php" class="link" target="_blank">
                                            <span class="s-i"></span>야간 결산<br><span class="en">(Night Audit)</span>
                                        </a>
                                        <ul class="menu-list2">
                                            <li class="item"><a href="../report/audit-report.php" class="link" target="_blank"><span class="s-i"></span>관리자 리포트</a></li>
                                            <li class="item"><a href="../report/audit-pay.php" class="link" target="_blank"><span class="s-i"></span>판매내역</a></li>
                                            <li class="item"><a href="../report/audit-daily.php" class="link" target="_blank"><span class="s-i"></span>판매일보</a></li>
                                        </ul>
                                    </li>
                                    <li class="item">
                                        <a href="../report/cashier-bill.php" class="link" target="_blank">
                                            <span class="s-i"></span>출납계<br><span class="en">(Cashiering)</span>
                                        </a>
                                        <ul class="menu-list2">
                                            <li class="item"><a href="../report/cashier-bill.php" class="link" target="_blank"><span class="s-i"></span>일별판매</a></li>
                                            <li class="item"><a href="../report/cashier-pay.php" class="link" target="_blank"><span class="s-i"></span>일별결제</a></li>
                                        </ul>
                                    </li>
                                    <li class="item">
                                        <a href="../adm/close.php" class="link" target="_blank">
                                            <span class="s-i"></span>마감<br><span class="en">(Cashier Close)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-item adm-panel">
                        <h3 class="panel-title">
                            <span class="s-i"><img src="../../public/img/icon/menupop/adm.png"alt="관리자"></span>
                            <span class="lbl">관리자<br><span class="en">Admin</span></span>
                        </h3>
                        <div class="panel-contents">
                            <div class="scroll">
                                <ul class="menu-list">
                                    <li class="item">
                                        <a href="../adm/user.php" class="link" target="_blank">
                                            <span class="s-i"></span>사용자 리스트<br><span class="en">(User List)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $('#gnb .btn-menupop.category-all').on('click', function() {
                $('#allMenu').toggle();
                var itemWd = $('#allMenu .panel-item').width(),
                    itemLength = $('#allMenu .panel-item').length;
                $('#allMenu .pop-wrapper').css({
                    width: (200 * itemLength) + 'px'
                });
            });
            $('#allMenu .cls-btn, #allMenu .bg-back').on('click', function() {
                $('#allMenu').hide();
            });
            // var menuIdx = 0,
            //     menu = $('#allMenu .favorite-panel');
            // menu.find(".menu-list > li").on('click', function () {
            //     menuIdx = $(this).index();
            // });
            // menu.find(".menu-list > li .i-box").on('click', function (e) {
            //     page.favorites(2, menuIdx, '');
            //     location.reload();
            // });
        });
    </script>
</div>
<!--/.all-menu-->