	<header class="header" id="header">
		<div class="group cont-header">
			<h1 class="logo">
				<a href="/" class="logo-a">
					<!-- 사이트 별 로고 -->
					<img src="../../public/img/common/logo_mng.png" alt="고코투어 CMS" class="logo-img">
					<!-- <img src="../../public/img/common/logo_ocean.jpg" alt="고코투어 CMS" class="logo-img"> -->
					<!-- <img src="../../public/img/common/logo_bsdogo.jpg" alt="고코투어 CMS" class="logo-img"> -->
					<!-- <img src="../../public/img/common/logo_ramada.png" alt="고코투어 CMS" class="logo-img"> -->
				</a>
			</h1>
			<nav class="cf gnb" id="gnb">
				<div class="btn-box">
					<button type="button" class="btn-menupop category-all">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
				</div>
				<!-- <div class="btn-box">
					<button type="button" class="btn-menupop category-favorite">
						<i class="far fa-star"></i>
						<i class="fas fa-star"></i>
					</button>
				</div> -->
				<ul class="menu dep-1">
					<li>
						<a href="" class="ic-reservation">예약</a>
						<ul class="dep-2">
							<li><a href="../reservation/reservationFit.html">예약 조건</a></li>
							<li><a href="../reservation/reservationFit_group.html">예약 그룹</a></li>
							<li><a href="../reservation/assignStatus.html">할당 현황</a></li>
							<li><a href="../reservation/roomBlock.html">블럭 룸</a></li>
							<li><a href="../reservation/reservationList.html">예약 목록</a></li>
							<li><a href="../reservation/roomInventory.html">객실 목록</a></li>
							<li><a href="../reservation/rateSchedule.html">요금 일정</a></li>
							<li><a href="../reservation/account.html">계정</a></li>
							<li><a href="../reservation/mailList.html">메일 목록</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="ic-front">프론트</a>
						<ul class="dep-2">
							<li><a href="../front/chkIn.html">체크인</a></li>
							<li><a href="../front/inHouse.html">사내</a></li>
							<li><a href="../front/departures.html">출발</a></li>
							<li><a href="../front/roomStay.html">숙박</a></li>
							<li><a href="../front/roomStatus.html">객실 현황</a></li>
							<li><a href="../front/roomStatusList.html">객실 현황 목록</a></li>
							<li><a href="../front/logBook.html">Log Book</a></li>
							<li><a href="../front/guestProfile.html">투숙객 정보</a></li>
							<li><a href="../front/complain.html">컴플레인</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="ic-cash">캐셔링</a>
						<ul class="dep-2">
							<li><a href="../cashier/cashier.html">C/L 캐셔링</a></li>
							<li><a href="../cashier/exchange.html">교환</a></li>
							<li><a href="../cashier/cshDrawer.html">금전 출납</a></li>
							<li><a href="../cashier/advDeposit.html">예치금</a></li>
							<li><a href="../cashier/cshClose.html">현금출납계</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="ic-gold">미수금</a>
						<ul class="dep-2">
							<li><a href="../cashier/accRec.html">미수금</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="ic-housekeep">시설 관리</a>
						<ul class="dep-2">
							<li><a href="../inhouse/maidSchedule.html">청소 일정</a></li>
							<li><a href="../inhouse/maidAssign.html">청소 배정</a></li>
							<li><a href="../inhouse/roomCleaning.html">객실 청소</a></li>
							<li><a href="../inhouse/rmClnStatus.html">객실 청소 현황</a></li>
							<li><a href="../inhouse/report.html">도착 목록</a></li>
							<li><a href="../inhouse/report.html">사내 목록</a></li>
							<li><a href="../inhouse/report.html">출발 목록</a></li>
							<li><a href="../inhouse/lostFound.html">분실물</a></li>
							<li><a href="../inhouse/exbStatus.html">EX-B 현황</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="ic-fnb">부대업장</a>
						<ul class="dep-2">
							<li><a href="../fnb/outlet.html">업장</a></li>
							<li><a href="../fnb/menu.html">메뉴</a></li>
							<li><a href="../fnb/inventory.html">목록</a></li>
							<li><a href="../fnb/banquet.html">연회 목록</a></li>
							<li><a href="../fnb/breakfast.html">아침식사</a></li>
							<li><a href="../fnb/banquetCal.html">연회 일정</a></li>
							<li><a href="../fnb/pkgChk.html">패키지 확인</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="ic-report">판매현황</a>
						<ul class="dep-2">
							<li><a href="../status/agency_day.html">판매채널 일별(결제)</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="ic-report">보고서</a>
						<ul class="dep-2">
							<li>
								<a href="">프론트</a>
								<ul class="dep-3">
									<li><a href="../report/front_rmChg.html">객실 변경 목록</a></li>
									<li><a href="../report/front_noShow.html">No-Show 목록</a></li>
								</ul>
							</li>
							<li>
								<a href="">판매&amp;예약</a>
								<ul class="dep-3">
									<li><a href="../report/sales_dailyBk.html">일별 예약</a></li>
									<li><a href="../report/sales_rsvCc.html">예약 취소</a></li>
								</ul>
							</li>
							<li>
								<a href="">야간 감사</a>
								<ul class="dep-3">
									<li><a href="../report/audit_mng.html">관리자 보고</a></li>
									<li><a href="../report/audit_pay.html">세부 결제 목록</a></li>
									<li><a href="../report/audit_report.html">판매일보</a></li>
								</ul>
							</li>
							<li>
								<a href="">캐셔링</a>
								<ul class="dep-3">
									<li><a href="../report/cashier_bill.html">일일 청구서 목록</a></li>
									<li><a href="../report/cashier_pay.html">일일 결제 목록</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<!-- <li>
						<a href="">프론트</a>
						<ul class="dep-3">
							<li><a href="">판매채널 일별(결제)</a></li>
							<li><a href="">사내 목록</a></li>
						</ul>
					</li>
					<li>
						<a href="">영업 및 예약</a>
						<ul class="dep-3">
							<li><a href="">일별 예약</a></li>
							<li><a href="">매월 계정별 생산</a></li>
							<li><a href="">계정 세부사항별 생산</a></li>
							<li><a href="">국적별 판매 생산</a></li>
							<li><a href="">시장/구획 별 판매 생산</a></li>
							<li><a href="">소스별 판매량</a></li>
							<li><a href="">객실 유형별 예보</a></li>
							<li><a href="">시장/구획별 예측</a></li>
							<li><a href="">출처별 예측</a></li>
							<li><a href="">Mrk/Seg 의 판매 생산</a></li>
							<li><a href="">소스 날짜별 판매 생산</a></li>
							<li><a href="">예약 최소</a></li>
						</ul>
					</li>
					<li>
						<a href="">야간 감사</a>
						<ul class="dep-3">
							<li><a href="">관리자 보고</a></li>
							<li><a href="">세부 청구 목록</a></li>
							<li><a href="">세부 지불 목록</a></li>
							<li><a href="">투숙객 원장</a></li>
							<li><a href="">A/R 레저</a></li>
							<li><a href="">예금 원장</a></li>
							<li><a href="">시산표</a></li>
							<li><a href="">일일 수익</a></li>
							<li><a href="">일일 수입 수량</a></li>
							<li><a href="">판매일보</a></li>
							<li><a href="">객실료 체크(거래처별)</a></li>
							<li><a href="">객실료 체크(객실별)</a></li>
							<li><a href="">재실후불잔액(거래처별)</a></li>
							<li><a href="">재실후불잔액(객실별)</a></li>
						</ul>
					</li>
					<li>
						<a href="">캐셔링</a>
						<ul class="dep-3">
							<li><a href="">에이징 요약</a></li>
							<li><a href="">계산원 요약</a></li>
							<li><a href="">일일 청구서 목록</a></li>
							<li><a href="">일일 지불 목록</a></li>
							<li><a href="">예수금 리스트</a></li>
							<li><a href="">내외국인 이용실적</a></li>
						</ul>
					</li>
					<li>
						<a href="">수익 현황</a>
						<ul class="dep-3">
							<li><a href="">기간별 수입 현황</a></li>
						</ul>
					</li> -->
					<li>
						<a href="" class="ic-analysis">분석</a>
						<ul class="dep-2">
							<li><a href="../analysis/dashboard.html">대시보드</a></li>
							<li><a href="../analysis/overYearChart.html">전년대비 매출액 현황(월별)</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="ic-basic">기본</a>
						<ul class="dep-2">
							<li><a href="../basic/myInfo.html">내 정보</a></li>
							<li><a href="../basic/commonCode.html">공통 코드</a></li>
							<li><a href="../basic/propertyCode.html">속성 코드</a></li>
							<li><a href="../basic/specialCode.html">특별 코드</a></li>
							<li><a href="../basic/pkgSetting.html">패키지 설정</a></li>
							<li><a href="../basic/calendar.html">달력</a></li>
							<li><a href="../basic/mailTemplate.html">메일 템플릿</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="ic-config">관리자</a>
						<ul class="dep-2">
							<li>
								<a href="">시스템 관리</a>
								<ul class="dep-3">
									<li>
										<a href="">권한관리</a>
										<ul class="dep-4">
											<li><a href="../adm/role_code.html">권한 코드</a></li>
											<li><a href="../adm/role_menu.html">메뉴 권한</a></li>
											<li><a href="../adm/role_user.html">사용자 권한</a></li>
										</ul>
									</li>
									<li>
										<a href="">사용자 관리</a>
										<ul class="dep-4">
											<li><a href="../adm/user_regist.html">사용자 등록</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="../adm/cshClose.html">마감</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<nav class="user-bar">
				<span class="user">2018-12-13 관리자님 <i class="fa fa-user-circle"></i></span>
				<ul class="menu cf">
					<li class="item item-1"><a href="/"><i class="icon-menu ic-home"></i> <span class="hidden">홈</span></a></li>
					<li class="item item-2"><a href=""><i class="icon-menu ic-explore"></i> <span class="hidden">바로가기</span></a></li>
					<li class="item item-2"><a href=""><i class="icon-menu ic-out"></i> <span class="hidden">로그아웃</span></a></li>
					<li class="item item-1"><a href="javascript:;" onclick="popFn.show('.pop-profile')"><i class="icon-menu ic-gear"></i> <span class="hidden">정보수정</span></a></li>
				</ul>
				<div class="site-info">
					<!-- <span class="siteName">오션투유리조트속초설악비치호텔앤콘도</span> -->

					<select name="" id="" class="slt-site">
						<option value="">오션투유리조트속초설악비치호텔앤콘도</option>
						<option value="">연호리조트</option>
						<option value="">BS콘도도고온천호텔앤리조트</option>
						<option value="">라마다앙코르평택</option>
						<option value="">지리산남원중앙하이츠콘도</option>
					</select>

				</div>
			</nav>
		</div>
	</header>
	<!--//.header-->

	<aside class="sidebar left">
		<h2 class="hidden">사이드 네비게이션</h2>
		<div class="lnb">
			<a href="javascrtip:;" class="btna quick-plus">
				<img src="../../public/img/icon/quick/quickMenuPlus.png" alt="즐겨찾기 메뉴 추가">
			</a>
			
			<ul class="menu">
				<li class="item on">
					<a href="javascript:;">
						<img src="../../public/img/icon/quick/front.png" alt="프론트">
						<span class="lbl">프론트</span>
					</a>
				</li>
				<li class="item">
					<a href="javascript:;">
						<img src="../../public/img/icon/quick/status.png" alt="보고서">
						<span class="lbl">전년대비 매출액 현황</span>
					</a>
				</li>
			</ul>

			<div class="qm-pop">
				<ul class="qm-list">
					<li ref="deleteOne"><img src="../../public/img/icon/doc.png" alt="DOC"> 삭제</li>
					<li class="division"></li>
					<li ref="deleteAll"><img src="../../public/img/icon/doc.png" alt="DOC"> 전부 삭제</li>
				</ul>
			</div>
		</div>
	</aside>
	<!--/.sidebar.left-->

	<div class="pop-container-3 favorite-menu" id="favoriteMenu" style="display: none;">
		<div class="bg-back"></div>
		<div class="pop-cell">
			<div class="pop-wrapper">
				<div class="pop-header">
					<h2 class="hidden">즐겨찾기메뉴</h2>
				</div>
				<div class="pop-contents">
					<div class="lnb">
						<div class="btn-box">
							<button type="button" class="btn-action btn-plus"
								onclick="window.open('../winpop/favoriteMenu.html', 'winpop', 'width=320, height=550')">
								<i class="fas fa-external-link-alt"></i>
								<span class="lbl">즐겨찾기 메뉴 열기</span>
							</button>
						</div>
						<div class="btn-box">
							<button type="button" class="btn-action btn-plus">
								<i class="fas fas fa-plus-square"></i>
								<span class="lbl">현재 페이지 즐겨찾기 추가</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(function () {
				$('#gnb .btn-menupop.category-favorite').on('click', function () {
					$(this).toggleClass('on');
					var posLeft = $(this).offset().left;
					$('#favoriteMenu .bg-back').on('click', function () {
						$('#favoriteMenu').hide();
						$('#gnb .btn-menupop.category-favorite').removeClass('on');
					});
					if ($(this).hasClass('on')) {
						$('#favoriteMenu').css({
							left: posLeft
						}).show();
					} else {
						$('#favoriteMenu').hide();
					}
				});

				var menuIdx = 0,
					menu = $('#favoriteMenu');
				menu.find(".menu-list > li").on('click', function () {
					menuIdx = $(this).index();
				});
				menu.find(".menu-list > li .i-box").on('click', function (e) {
					// page.favorites(2, menuIdx, '');
					// location.reload();
				});
			});
		</script>
	</div>
	<!--/.favorite-menu-->
	
	<div class="pop-container-3 all-menu" id="allMenu" style="display: none">
		<div class="bg-back"></div>
		<div class="pop-cell">
			<div class="pop-wrapper">
				<div class="pop-header">
					<h2 class="hidden">전체 메뉴</h2>
					<button type="button" class="cls-btn"><img
							src="../../public/img/icon/menupop/x.png" alt="닫기"></button>
				</div>
				<div class="pop-contents">
					<div class="panel-list cf">
						<!-- <div class="panel-item favorite-panel">
							<h3 class="panel-title"><img src="../../public/img/icon/menupop/plus.png" alt="즐겨찾기"><span
									class="lbl">즐겨찾기</span></h3>
							<div class="panel-contents">
								<div class="scroll">
									<ul class="menu-list">
										<li class="item">
											<a href="../reservation/form.php" class="link"
												target="_blank"><span class="s-i"></span>개인 예약</a>
											<span class="i-box"><i class="fas far fa-times-circle"></i></span>
										</li>
										<li class="item">
											<a href="../reservation/reservationList.php" class="link"
												target="_blank"><span class="s-i"></span>예약 리스트</a>
											<span class="i-box"><i class="fas far fa-times-circle"></i></span>
										</li>
										<li class="item">
											<a href="../reservation/room.php" class="link"
												target="_blank"><span class="s-i"></span>객실현황</a>
												<span class="i-box"><i class="fas far fa-times-circle"></i></span>
										</li>
									</ul>
								</div>
							</div>
						</div> -->
						<div class="panel-item rsv-panel">
						    <h3 class="panel-title"><span class="s-i"><img src="../../public/img/icon/menupop/reservation.png"
						                alt="예약"></span><span class="lbl">예약<br><span class="en">Reservation</span></g4></span></h3>
						    <div class="panel-contents">
						        <div class="scroll">
						            <ul class="menu-list">
						                <li class="item"><a href="../reservation/form.php" class="link" target="_blank"><span
						                            class="s-i"></span>개인 예약<br><span class="en">(Reservation FIT)</span></a></li>
						                <li class="item"><a href="../reservation/form.php?t=group" class="link" target="_blank"><span
						                            class="s-i"></span>단체 예약<br><span class="en">(Reservation Group)</span></a></li>
						                <li class="item"><a href="../reservation/reservationList.php" class="link" target="_blank"><span
						                            class="s-i"></span>예약 리스트<br><span class="en">(Room
						                            Inventory)</span></a>
						                </li>
						                <li class="item"><a href="../reservation/account.php" class="link" target="_blank"><span
						                            class="s-i"></span>판매처<br><span class="en">(Account)</span></a></li>
						            </ul>
						        </div>
						    </div>
						</div>
						<div class="panel-item front-panel">
							<h3 class="panel-title"><span class="s-i"><img src="../../public/img/icon/menupop/front.png"
										alt="프론트"></span><span class="lbl">프론트<br><span class="en">Front</span></span></h3>
							<div class="panel-contents">
								<div class="scroll">
									<ul class="menu-list">
										<li class="item"><a href="../front/chkin.php" class="link" target="_blank"><span
													class="s-i"></span>체크인<br><span class="en">(Check In)</span></a></li>
										<li class="item"><a href="../front/inhouse.php" class="link" target="_blank"><span
													class="s-i"></span>투숙자목록<br><span class="en">(In House)</span></a></li>
										<li class="item"><a href="../front/chkout.php" class="link" target="_blank"><span
													class="s-i"></span>체크아웃<br><span class="en">(Departures)</span></a>
										</li>
										<li class="item"><a href="../front/room.php" class="link" target="_blank"><span
													class="s-i"></span>객실현황<br><span class="en">(Room Status)</span></a>
										</li>
										<li class="item"><a href="../front/room-status.php" class="link"
												target="_blank"><span class="s-i"></span>객실현황
												리스트<br><span class="en">(Room Status List)</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel-item inhouse-panel">
							<h3 class="panel-title"><span class="s-i"><img src="../../public/img/icon/menupop/inhouse.png"
										alt="시설관리"></span><span class="lbl">시설관리<br><span class="en">House
										keeping</span></span></h3>
							<div class="panel-contents">
								<div class="scroll">
									<ul class="menu-list">
										<li class="item"><a href="../front/room.php" class="link" target="_blank"><span
													class="s-i"></span>객실현황<br><span class="en">(Room Status)</span></a>
										</li>
										<li class="item"><a href="../inhouse/list.php" class="link" target="_blank"><span
													class="s-i"></span>체크인 대상 목록</a></li>
										<li class="item"><a href="../inhouse/list.php?a=1" class="link"
												target="_blank"><span class="s-i"></span>투숙자 목록</a></li>
										<li class="item"><a href="../inhouse/list.php?a=2" class="link"
												target="_blank"><span class="s-i"></span>체크아웃 대상 목록</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel-item fnb-panel">
							<h3 class="panel-title"><span class="s-i"><img src="../../public/img/icon/menupop/fnb.png"
										alt="부대업장"></span><span class="lbl">부대업장<br><span class="en">F&amp;B</span></span>
							</h3>
							<div class="panel-contents">
								<div class="scroll">
									<ul class="menu-list">
										<li class="item"><a href="../fnb/menu.php" class="link" target="_blank"><span
													class="s-i"></span>메뉴<br><span class="en">(Menu)</span></a></li>
										<li class="item"><a href="../fnb/purchase.php" class="link" target="_blank"><span
													class="s-i"></span>구매
												리스트<br><span class="en">(Purchase List)</span></a></li>
										<li class="item"><a href="../fnb/day.php" class="link" target="_blank"><span
													class="s-i"></span>일별판매<br><span class="en">(F&amp;B Daily
													Statistics)</span></a></li>
										<li class="item"><a href="../fnb/month.php" class="link" target="_blank"><span
													class="s-i"></span>월별판매<br><span class="en">(F&amp;B Monthly
													Statistics)</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel-item report-panel">
							<h3 class="panel-title"><span class="s-i"><img src="../../public/img/icon/menupop/report.png"
										alt="리포트"></span><span class="lbl">리포트<br><span class="en">Report</span></span>
							</h3>
							<div class="panel-contents">
								<div class="scroll">
									<ul class="menu-list">
										<li class="item"><a href="../report/front-room-change.php" class="link"
												target="_blank"><span class="s-i"></span>프론트<br><span
													class="en">(Front)</span></a>
											<ul class="menu-list2">
												<li class="item"><a href="../report/front-room-change.php" class="link"
														target="_blank"><span class="s-i"></span>객실변경</a></li>
												<li class="item"><a href="../report/front-noshow.php" class="link"
														target="_blank"><span class="s-i"></span>노쇼</a></li>
											</ul>
										</li>
										<li class="item"><a href="../report/sales-daily.php" class="link"
												target="_blank"><span class="s-i"></span>판매
												/ 예약<br><span class="en">(Sales &amp; Reservation)</span></a>
											<ul class="menu-list2">
												<li class="item"><a href="../report/sales-daily.php" class="link"
														target="_blank"><span class="s-i"></span>일별현황</a></li>
												<li class="item"><a href="../report/sales-rsv-cancel.php" class="link"
														target="_blank"><span class="s-i"></span>예약취소</a></li>
											</ul>
										</li>
										<li class="item"><a href="../report/audit-report.php" class="link"
												target="_blank"><span class="s-i"></span>야간
												결산<br><span class="en">(Night Audit)</span></a>
											<ul class="menu-list2">
												<li class="item"><a href="../report/audit-report.php" class="link"
														target="_blank"><span class="s-i"></span>관리자 리포트</a></li>
												<li class="item"><a href="../report/audit-pay.php" class="link"
														target="_blank"><span class="s-i"></span>판매내역</a></li>
												<li class="item"><a href="../report/audit-daily.php" class="link"
														target="_blank"><span class="s-i"></span>판매일보</a></li>
											</ul>
										</li>
										<li class="item"><a href="../report/cashier-bill.php" class="link"
												target="_blank"><span class="s-i"></span>출납계<br><span
													class="en">(Cashiering)</span></a>
											<ul class="menu-list2">
												<li class="item"><a href="../report/cashier-bill.php" class="link"
														target="_blank"><span class="s-i"></span>일별판매</a></li>
												<li class="item"><a href="../report/cashier-pay.php" class="link"
														target="_blank"><span class="s-i"></span>일별결제</a></li>
											</ul>
										</li>
										<li class="item"><a href="../adm/close.php" class="link" target="_blank"><span
													class="s-i"></span>마감<br><span class="en">(Cashier Close)</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel-item adm-panel">
							<h3 class="panel-title"><span class="s-i"><img src="../../public/img/icon/menupop/adm.png"
										alt="관리자"></span><span class="lbl">관리자<br><span class="en">Admin</span></span></h3>
							<div class="panel-contents">
								<div class="scroll">
									<ul class="menu-list">
										<li class="item"><a href="../adm/user.php" class="link" target="_blank"><span
													class="s-i"></span>사용자 리스트<br><span class="en">(User List)</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(function () {
				$('#gnb .btn-menupop.category-all').on('click', function () {
                    $('#allMenu').toggle();
                    var itemWd = $('#allMenu .panel-item').width(),
                        itemLength = $('#allMenu .panel-item').length;
                    $('#allMenu .pop-wrapper').css({
                        width: (200 *  itemLength) + 'px'
                    });
				});
				$('#allMenu .cls-btn, #allMenu .bg-back').on('click', function() {
					$('#allMenu').hide();
				});
				var menuIdx = 0,
					menu = $('#allMenu .favorite-panel');
				menu.find(".menu-list > li").on('click', function () {
					menuIdx = $(this).index();
				});
				menu.find(".menu-list > li .i-box").on('click', function (e) {
					// page.favorites(2, menuIdx, '');
					// location.reload();
				});
			});
		</script>
	</div>
	<!--/.all-menu-->