<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>이메일 인증</title>

</head>

<body style="margin: 0; padding: 0;">

	
	<table align="center" border="0" bgcolor="#f8f8f8" cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Nanum Gothic', sans-serif; padding: 50px 0;">
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="860" style="color: #333; margin: 0 auto;">
					<tr>
						<td bgcolor="#fff" style="border-bottom: 3px solid #EE743F; padding: 20px 30px;">
							<img src="//manage.ebiz.test/img/common/logo.png" alt="고코투어 CMS" width="130"/>
						</td>
					</tr>
					<!-- /.header -->
					<tr>
						<td bgcolor="#fff" style="padding: 50px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="font-size: 24px;">
										<span style="color: #ee743f">인증번호</span>를 확인해주세요.
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0; line-height: 1.5em;">
										안녕하세요. 이비즈네트웍스 입니다.<br/>
										고객님께서 입력하신 이메일의 소유확인을 위한 인증메일입니다.<br/>
									</td>
								</tr>
								<tr>
									<td bgcolor="#f8f8f8" align="center" style="padding: 50px;">
										<span style="font-weight: 800;">아래버튼을 클릭하셔서 인증을 마쳐주세요.</span><br/><br/>
										<a href="javascript:;" style="display: inline-block; padding: 15px 30px; color: #fff; background: #ee743f; font-size: 16px; text-decoration: none;">이메일 인증</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- /.contents -->
					<tr>
						<td bgcolor="#fff" style="border-top: 2px solid #EE743F; padding: 20px 30px; font-size: 12px;">
							<span style="font-size: 14px;">본 메일은 발송전용 메일입니다.</span><br/><br/>
							(주)이비즈네트웍스 ㅣ 서울특별시 강남구 테헤란로82길 15, (대치동, 디아이타워) ㅣ 대표이사 : 박기범 ㅣ 사업자등록번호 : 220-87-30865<br/>
						</td>
					</tr>
					<!-- /.footer -->
				</table>
			</td>
		</tr>
	</table>
	<!-- /.wrapper -->

</body>

</html>