@@include('../include/_head.html', {
	"page": "reservation"
})

<body class="page-reservation">

<div class="wrapper">

	<div class="wpop-header">
		<h2>청소 날짜 상태</h2>
	</div>
	<div class="cf wpop-contents maidSt-contents">
        <div class="cont-property">
            <div class="grid-wrap">
                <div class="grid-contents">
                    <table class="grid-tbl property-tbl">
                        <colgroup>
                            <col style="width: 112px">
                            <col style="width: *">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th><div class="cell">시작 날짜</div></th>
                                <td>
                                    <div class="cell">
                                        <span class="cal-box">
                                            <input type="text" class="appe-reset inp-cal date-ui">
                                            <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                        </span>

                                        <div class="btn-gray"><span class="prev">◀</span></div>
                                        <div class="btn-gray"><span class="next">▶</span></div>
                                        <button type="button" class="btn-brown">SEARCH</button>
                                        <button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
                                        <button type="button" class="btn-gray btn-i"><span class="icon ic-pdf"></span>PDF</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
			<div class="cont-list">
				<div class="grid-container">
					<div class="grid-area grid-locked">
						<table class="grid-tbl">
							<colgroup>
								<col style="width: 80px">
							</colgroup>
							<thead class="rowgroup">
								<tr>
									<th class="locked"></th>
								</tr>
							</thead>
							<tbody class="rowgroup">
								<tr><td><div class="cell"></div></td></tr>
							</tbody>
						</table>
					</div>
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
                                        <colgroup>
            								<col style="width: 50px">
            								<col style="width: 50px">
            								<col style="width: 50px">
            							</colgroup>
										<thead class="rowgroup">
											<tr>
												<th colspan="3"><div class="cell">TOTAL</div></th>
												<th colspan="3"><div class="cell">03/19</div></th>
												<th colspan="3"><div class="cell">03/20</div></th>
												<th colspan="3"><div class="cell">03/21</div></th>
												<th colspan="3"><div class="cell">03/22</div></th>
												<th colspan="3" class="sat"><div class="cell">03/23</div></th>
												<th colspan="3" class="sun"><div class="cell">03/24</div></th>
												<th colspan="3"><div class="cell">03/25</div></th>
												<th colspan="3"><div class="cell">03/26</div></th>
												<th colspan="3"><div class="cell">03/27</div></th>
												<th colspan="3"><div class="cell">03/28</div></th>
												<th colspan="3"><div class="cell">03/29</div></th>
												<th colspan="3" class="sat"><div class="cell">03/30</div></th>
												<th colspan="3" class="sun"><div class="cell">03/31</div></th>
												<th colspan="3"><div class="cell">04/01</div></th>
												<th colspan="3"><div class="cell">04/02</div></th>
												<th colspan="3"><div class="cell">04/03</div></th>
												<th colspan="3"><div class="cell">04/04</div></th>
												<th colspan="3"><div class="cell">04/05</div></th>
												<th colspan="3" class="sat"><div class="cell">04/06</div></th>
												<th colspan="3" class="sun"><div class="cell">04/07</div></th>
												<th colspan="3"><div class="cell">04/08</div></th>
												<th colspan="3"><div class="cell">04/09</div></th>
												<th colspan="3"><div class="cell">04/10</div></th>
												<th colspan="3"><div class="cell">04/11</div></th>
												<th colspan="3"><div class="cell">04/12</div></th>
												<th colspan="3" class="sat"><div class="cell">04/13</div></th>
												<th colspan="3" class="sun"><div class="cell">04/14</div></th>
												<th colspan="3"><div class="cell">04/15</div></th>
												<th colspan="3"><div class="cell">04/16</div></th>
												<th colspan="3"><div class="cell">04/17</div></th>
												<th colspan="3"><div class="cell">04/18</div></th>
												<th colspan="3"><div class="cell">04/19</div></th>
											</tr>
											<tr>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
												<th><div class="cell">방</div></th>
												<th><div class="cell">EB (IN)</div></th>
												<th><div class="cell">C/O</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
                                    <colgroup>
                                        <col style="width: 80px">
                                    </colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell">138</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
        <!--//.cont-name-->
	
	</div>
	<!-- //.wpop-contents.maidSt-contents -->

</div>
</body>
</html>