@@include('../include/_head.html', {
	"page": "reservation"
})

<body class="page-reservation">

<div class="wrapper">

	<div class="wpop-header">
		<h2>청소 날짜 상태</h2>
	</div>
	<div class="cf wpop-contents maidSt-contents">
        <div class="cont-property">
            <div class="grid-wrap">
                <div class="grid-contents">
                    <table class="grid-tbl property-tbl">
                        <colgroup>
                            <col style="width: 112px">
                            <col style="width: *">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th><div class="cell">시작 날짜</div></th>
                                <td>
                                    <div class="cell">
                                        <span class="cal-box">
                                            <input type="text" class="appe-reset inp-cal date-ui">
                                            <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                        </span>

                                        <div class="btn-gray"><span class="prev">◀</span></div>
                                        <div class="btn-gray"><span class="next">▶</span></div>
                                        <button type="button" class="btn-brown">SEARCH</button>
                                        <button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
                                        <button type="button" class="btn-gray btn-i"><span class="icon ic-pdf"></span>PDF</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--//.cont-name-->
	
	</div>
	<!-- //.wpop-contents.maidSt-contents -->

</div>
</body>
</html>