@charset "utf-8";

@import "../parts/variables";
@import "../parts/mixins";


/* 작년도 매출 비교 */
.maidSch-contents {
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
					.form-select {
                        width: 120px;
					}
					.rdo-box {
						padding: 0 8px;
						label {
							margin-right: 5px;
						}
					}
					.cal-box {
						.inp-cal {
							width: 100px;
						}
					}
				}
			}
		}
	}
    
	.cont-list {
        padding-top: 10px;
        .grid-tbl-container {
            @include float;
            box-sizing: border-box;
            width: 15%;
            padding-right: 10px;
            .grid-wrap {
                .grid-tbl {
                    overflow: hidden;
                    width: 100%;
                    table-layout: fixed;
                    border-collapse: collapse;
                    border: 1px solid #d5d5d5;
                    //공통
                    th, td {
                        height: 27px;
                        color: #313131;
                        font-size: 12px;
                        border-left: 1px solid #d5d5d5;
                        .cell {
                            position: relative;
                            @include clearfix;
                            padding: 3px 7px;
                        }
                    }
                    th:first-child, td:first-child {
                        border-left: none;
                    }
                    
                    .theadgroup {
                        tr {
                            th {
                                border-bottom: 1px solid $bor-gray-table;
                                background: $bg-tblBase-th;
                                background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
                                background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
                                background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
                                background-position: 50% 50%;
                                background-color: #eae8e8;
                                .cell {
                                    
                                }
                            }
                        }
                    }
                    .tbodygroup {
                        tr {
                            
                            td {
                                border-top: 1px solid #d5d5d5;
                                .cell {
                                }
                            }
                            
                            &:nth-child(2n) {
                                background: #f1f1f1;
                            }
                            
                            &:hover {
                                td {
                                    background: #dad3d0;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .grid-chart-container {
            @include float(right);
            box-sizing: border-box;
            width: 85%;
            .grid-wrap {
                @include bx;
                padding: 5px 5px 20px;
                border: 1px solid #a6a6a6;
                .tit-chart {
                    margin-bottom: 20px;
                    padding-left: 10px;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 48px;
                    color: $fg-brown-2;
                }
                
                .grid-chart-area {
                    @include bx;
                    height: 400px;
                    #chart {
                    }
                }
            }
        }
	}
}


