@charset "utf-8";

@import "../parts/variables";
@import "../parts/mixins";
//year picker css 추가
@import "../yearpicker";


/* 작년도 매출 비교 */
.maidSch-contents {
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
					.form-select {
                        width: 120px;
					}
					.rdo-box {
						padding: 0 8px;
						label {
							margin-right: 5px;
						}
					}
					.cal-box {
						.inp-cal {
							width: 100px;
						}
					}
				}
			}
		}
	}
    
	.cont-list {
        padding-top: 10px;
        .grid-tbl-container {
            @include float;
            box-sizing: border-box;
            width: 15%;
            padding-right: 10px;
            .grid-wrap {
                .grid-area {
                    //공통
                    border: 1px solid #d5d5d5;
                    border-right-width: 0;
                    .grid-scrollable {
                        .grid-tbl {
                            overflow: hidden;
                            width: 100%;
                            table-layout: fixed;
                            border-collapse: collapse;
                            border-bottom: 0;
                            tr {
                                th, td {
                                    height: 27px;
                                    color: #313131;
                                    font-size: 12px;
                                    border-right: 1px solid #d5d5d5;
                                    .cell {
                                        position: relative;
                                        @include clearfix;
                                        padding: 3px 7px;
                                    }
                                }
                            }
                        }
                    }
                    
                    //head 
                    &.grid-head {  
                        border-bottom: 1px solid $bor-gray-table;   
                        .grid-scrollable {
                            background: $bg-tblBase-th;
                            background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
                            background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
                            background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
                            background-position: 50% 50%;
                            background-color: #eae8e8;
                            .grid-tbl {
                                tr {
                                    th, td {
                                        .cell {

                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    //body
                    &.grid-contents {
                        border-top: 0;
                        max-height: 336px; //max height : 12개월일때의 높이로 설정
                        overflow: hidden;
                        overflow-y: auto;
                        .grid-scrollable {
                            .grid-tbl {
                                tr {
                                    th, td {
                                        border-top: 1px solid #d5d5d5;
                                        .cell {

                                        }
                                    }
                                    &:first-child {
                                        th, td {
                                            border-top: 0;
                                        }
                                    }
                                    
                                    &:nth-child(2n) {
                                        background: #f1f1f1;
                                    }

                                    &:hover {
                                        td {
                                            background: #dad3d0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        //chart
        .grid-chart-container {
            @include float(right);
            box-sizing: border-box;
            width: 85%;
            .grid-wrap {
                @include bx;
                padding: 5px 5px 20px;
                border: 1px solid #a6a6a6;
                .tit-chart {
                    margin-bottom: 20px;
                    padding-left: 10px;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 48px;
                    color: $fg-brown-2;
                }
                
                .grid-chart-area {
                    @include bx;
                    height: 400px;
                    #chart {
                    }
                }
            }
        }
	}
}

/* 달력 */
.yearpicker-container {
    width: 200px;
    .yearpicker-header {
        position: relative;
        height: 28px;
        font-size: 13px;
        border-bottom: 0;
        background: #eae8e8;
        
        //좌우버튼 공통
        @mixin yearbtn-com {
            @include position(absolute, 50%);
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            border: 1px solid transparent;
            
            &:before {
                content: '';
                @include position(absolute, 50%, 50%);
                display: inline-block;
                width: 0px;
                height: 0px;
                margin-top: -3px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            
            &:hover {
                border-color: #ccc;
                border-radius: 4px;
                background: #bcb4b0;
                background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.4)),to(rgba(255,255,255,0)));
                background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%);
                background-image: none,linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%);
                background-position: 50% 50%;
                background-color: #bcb4b0;
            }
        }
        
        .yearpicker-prev {
            @include yearbtn-com;
            left: 3px;
            &:before {
                margin-left: -2px;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #2e2e2e; 
            }
        }
        
        .yearpicker-next {
            @include yearbtn-com;
            
            right: 3px;
            &:before {
                margin-left: -5px;
                border-left: 6px solid transparent;
                border-top: 6px solid #2e2e2e; 
            }
        }
    }
    
    //년도 리스트
    .yearpicker-body {
        font-size: 12px;
        .yearpicker-year {
            padding: 1px;
            .yearpicker-items {
                box-sizing: border-box;
                padding: 1rem 0rem;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                color: #2e2e2e;
                border: 1px solid transparent;
                border-radius: 4px;
                &:hover {
                    border-color: #ccc;
                    background: #bcb4b0;
                    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.4)),to(rgba(255,255,255,0)));
                    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%);
                    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%);
                    background-position: 50% 50%;
                    background-color: #bcb4b0;
                }
                &.selected {
                    color: #fff;
                    border-color: #aeaeae;
                    background: #f35800;
                    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.2)),to(rgba(255,255,255,0)));
                    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
                    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
                    background-color: #f35800;
                }
            }
        }
    }
}