<!-- cashier - posting 클릭 팝업 -->
<div class="pop-container posting-container">
    <div class="bg-back"></div>

    <div class="pop-wrapper">
        <div class="pop-header">
            <h2>포스팅</h2>
            <span class="a-i-x i-x fn-cls"></span>
        </div>
        <div class="cf pop-contents">
            <div class="popcont-container">
                <div class="cont-property">
                    <div class="grid-wrap">
                        <div class="grid-contents">
                            <table class="grid-tbl property-tbl">
                                <colgroup>
                                    <col style="width: 120px">
                                    <col style="width: 285px">
                                    <col style="width: 120px">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>
                                            <div class="cell necess">날짜</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png"
                                                            alt="달력"></span>
                                                </span>
                                                <span class="mg-">~</span>
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png"
                                                            alt="달력"></span>
                                                </span>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="cell necess">항목</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <select name="" id="" class="form-select">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>
                                    <tr>
                                        <th>
                                            <div class="cell necess">금액/수량</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input w-1">
                                                /
                                                <input type="text" class="form-input w-2">
                                            </div>
                                        </td>
                                        <th>
                                            <div class="cell">금액</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                0
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell">비고</div>
                                        </th>
                                        <td colspan="3">
                                            <div class="cell">
                                                <textarea name="" id="" class="form-texta"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--//.cont-property-->
            </div>
        </div>
        <!-- //.pop-contents-->
        <div class="pop-footer">
            <div class="row-btn">
                <button type="button" class="btn-blue fn-cls" disabled>SAVE</button>
                <button type="button" class="btn-gray fn-cls" disabled>VOID</button>
                <button type="button" class="btn-gray fn-cls" disabled>REBATE</button>
                <button type="button" class="btn-orange fn-cls">NEW</button>
            </div>
        </div>
    </div>
</div>
<!-- //.posting-container -->