<!-- cashier payment 클릭 - payment 팝업 -->
<div class="pop-container payment-container">
    <div class="bg-back"></div>

    <div class="pop-wrapper">
        <div class="pop-header">
            <h2>결제</h2>
            <span class="a-i-x i-x fn-cls"></span>
        </div>
        <div class="cf pop-contents">
            <div class="popcont-container">
                <div class="cont-property">
                    <div class="grid-wrap">
                        <div class="grid-contents">
                            <table class="grid-tbl property-tbl">
                                <colgroup>
                                    <col style="width: 120px">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>
                                            <div class="cell necess">날짜</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png"
                                                            alt="달력"></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell necess">금액</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input w-1">
                                                <div class="data-item room">
                                                    <span class="mark gray">Room</span>
                                                    <span class="money">39,000</span>
                                                </div>
                                                <div class="data-item other">
                                                    <span class="mark gray">Room</span>
                                                    <span class="money">0</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell necess">방법</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <select name="" id="" class="form-select w-2">
                                                    <option value="">CARD(카드)</option>
                                                </select>
                                                <select name="" id="" class="form-select w-1">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><div class="cell necess">거래처</div></th>
                                        <td>
                                            <div class="cell">
                                                <div class="inp-drop-box account w-1">
                                                    <input type="text" name="account" class="form-input" placeholder="없음" onkeyup="rsv.account(this.value)" autocomplete="off">
                                                    <ul class="drop-menu" id="account" style="display: none;"></ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell">결제 정보</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input w-1">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell">비고</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <textarea name="" id="" class="form-texta"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--//.cont-property-->
            </div>
        </div>
        <!-- //.pop-contents-->
        <div class="pop-footer">
            <div class="row-btn">
                <button type="button" class="btn-blue fn-cls">APPLY</button>
                <button type="button" class="btn-gray fn-cls">VOID</button>
                <button type="button" class="btn-orange fn-cls">NEW</button>
            </div>
        </div>
    </div>
</div>
<!-- //.payment-container -->