<!-- cashier - print 클릭 팝업 -->
<div class="pop-container print-container">
    <div class="bg-back"></div>

    <div class="pop-wrapper">
        <div class="pop-header">
            <h2>프린트</h2>
            <span class="a-i-x i-x fn-cls"></span>
        </div>
        <div class="cf pop-contents">
            <div class="popcont-container">
                <div class="cont-property">
                    <div class="grid-wrap">
                        <div class="grid-contents">
                            <table class="grid-tbl property-tbl">
                                <colgroup>
                                    <col style="width: 200px">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>
                                            <div class="cell">빈</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <input type="checkbox">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell">판매처 주소</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <input type="checkbox">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell">객실만</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <input type="checkbox">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell">다른 것만</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <input type="checkbox">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell">출력 방법</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <span class="rdo-box">
                                                    <label><input type="radio"><span>Pdf</span></label>
                                                    <label><input type="radio"><span>Word</span></label>
                                                    <label><input type="radio"><span>Excel</span></label>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--//.cont-property-->
            </div>
        </div>
        <!-- //.pop-contents-->
        <div class="pop-footer">
            <div class="row-btn">
                <button type="button" class="btn-blue fn-cls">OK</button>
                <button type="button" class="btn-orange fn-cls">NEW</button>
            </div>
        </div>
    </div>
</div>
<!-- //.print-container -->