<!-- inhouse - folio 클릭 팝업-->
<div class="pop-container folio-container">
        <div class="bg-back"></div>
    
        <div class="pop-wrapper">
            <div class="pop-header">
                <h2>Folio</h2>
                <span class="a-i-x i-x fn-cls"></span>
            </div>
            <div class="cf pop-contents">
                <div class="popcont-container">
                    <h2 class="cont-tit">
                        <strong>From : #KSG1905309508</strong>
                        <input type="text" class="form-input no">
                        <button type="button" class="btn-gray">SEARCH</button>
                        <button type="button" class="btn-brown">G-BILL</button>
                        <button type="button" class="btn-brown">MASTER</button>
                    </h2>
    
                    <div class="row row-cont">
                        <div class="split cont-code">
                            <h3>#1217 Bill #0001 Folio Cnt: 1</h3>
                            <div class="scrollbar">
                                <ul class="dep-1 code-list fn-fold">
                                    <li>
                                        <a href="javascript:;">
                                            <div class="d">
                                                <span class="icon-treeArr expand"></span> 407M (본사 직원)
                                            </div>
                                        </a>
                                        <ul class="dep-2 expand">
                                            <li>
                                                <a href="javascript:;">
                                                    <div class="d">
                                                        0001(0)
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.cont-code -->
                        <div class="split cont-data">
                            <div class="data-status">
                                <div class="data-select">
                                    <label><span>ITEM : </span> <input type="text" class="form-input w-1"></label>
                                    <button type="button" class="btn-blue">SELECT ITEM</button>
                                    <button type="button" class="btn-orange">SELECT BLOCK</button>
                                    <button type="button" class="btn-brown">SELECT ALL</button>
                                </div>
                                <div class="data-date">
                                    Date: 2019-06-06 ~ 2019-12-05
                                </div>
                                <div class="data-btnbox">
                                    <button type="button" class="btn-red w-1" disabled>SAVE</button>
                                    <button type="button" class="btn-gray w-1">SPLIT</button>
                                </div>
                            </div>
                            <div class="grid-wrap scr-wrap">
                                <div class="grid-scrollable-x">
                                    <div class="grid-area grid-head">
                                        <div class="grid-scrollable">
                                            <table class="grid-tbl">
                                                <colgroup>
                                                    <col style="width:80px">
                                                    <col style="width:60px">
                                                    <col style="width:130px">
                                                    <col style="width:130px">
                                                    <col style="width:130px">
                                                    <col style="width:130px">
                                                    <col style="width:100px">
                                                    <col style="width:180px">
                                                    <col style="width:130px">
                                                    <col style="width:90px">
                                                    <col>
                                                </colgroup>
                                                <thead class="rowgroup">
                                                    <tr>
                                                        <th>
                                                            <div class="cell">날짜</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">객실</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">요금 항목</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">신용 항목</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">결제 유형</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">결제 정보</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">Appr No.</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">비고</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">생성자</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">요금</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">신용</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="grid-area grid-contents">
                                        <table class="grid-tbl">
                                            <colgroup>
                                                <col style="width:80px">
                                                <col style="width:60px">
                                                <col style="width:130px">
                                                <col style="width:130px">
                                                <col style="width:130px">
                                                <col style="width:130px">
                                                <col style="width:100px">
                                                <col style="width:180px">
                                                <col style="width:130px">
                                                <col style="width:90px">
                                                <col>
                                            </colgroup>
                                            <tbody class="rowgroup">
                                                <tr>
                                                    <td>
                                                        <div class="cell">2019-05-30</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">407</div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">ROOM</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">05/31 14:12, 송누구</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="cell">2019-05-30</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">407</div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">ROOM</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">05/31 14:12, 송누구</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                </tr>
                                                <tr class="co-red-child">
                                                    <td>
                                                        <div class="cell">2019-05-30</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">407</div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">ROOM</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">05/31 14:12, 송누구</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                </tr>
                                                <tr class="bill">
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">BILL</div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">TOTAL</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell">2,106,000</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell">706,000</div>
                                                    </td>
                                                </tr>
                                                <tr class="balance">
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">BALANCE</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell">0</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell">1,400,000</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <!-- /.cont-cdData -->
                    </div>
                </div>
                <div class="popcont-container">
                    <h2 class="cont-tit">
                        <strong>From : #KSG1905309508</strong>
                        <input type="text" class="form-input no">
                        <button type="button" class="btn-gray">SEARCH</button>
                        <button type="button" class="btn-brown">H/A</button>
                    </h2>
    
                    <div class="row row-cont">
                        <div class="split cont-code">
                            <h3>#1217 Bill #0001 Folio Cnt: 1</h3>
                            <div class="scrollbar">
                                <ul class="dep-1 code-list fn-fold">
                                    <li>
                                        <a href="javascript:;">
                                            <div class="d">
                                                <span class="icon-treeArr expand"></span> 407M (본사 직원)
                                            </div>
                                        </a>
                                        <ul class="dep-2 expand">
                                            <li>
                                                <a href="javascript:;">
                                                    <div class="d">
                                                        0001(0)
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.cont-code -->
                        <div class="split cont-data">
                            <div class="data-status">
                                <div class="data-select">
                                    <label><span>ITEM : </span> <input type="text" class="form-input w-1"></label>
                                    <button type="button" class="btn-blue">SELECT ITEM</button>
                                    <button type="button" class="btn-orange">SELECT BLOCK</button>
                                    <button type="button" class="btn-brown">SELECT ALL</button>
                                </div>
                                <div class="data-date">
                                    Date: 2019-06-06 ~ 2019-12-05
                                </div>
                            </div>
                            <div class="grid-wrap scr-wrap">
                                <div class="grid-scrollable-x">
                                    <div class="grid-area grid-head">
                                        <div class="grid-scrollable">
                                            <table class="grid-tbl">
                                                <colgroup>
                                                    <col style="width:80px">
                                                    <col style="width:60px">
                                                    <col style="width:130px">
                                                    <col style="width:130px">
                                                    <col style="width:130px">
                                                    <col style="width:130px">
                                                    <col style="width:100px">
                                                    <col style="width:180px">
                                                    <col style="width:130px">
                                                    <col style="width:90px">
                                                    <col>
                                                </colgroup>
                                                <thead class="rowgroup">
                                                    <tr>
                                                        <th>
                                                            <div class="cell">날짜</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">객실</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">요금 항목</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">신용 항목</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">결제 유형</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">결제 정보</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">Appr No.</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">비고</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">생성자</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">요금</div>
                                                        </th>
                                                        <th>
                                                            <div class="cell">신용</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="grid-area grid-contents">
                                        <table class="grid-tbl">
                                            <colgroup>
                                                <col style="width:80px">
                                                <col style="width:60px">
                                                <col style="width:130px">
                                                <col style="width:130px">
                                                <col style="width:130px">
                                                <col style="width:130px">
                                                <col style="width:100px">
                                                <col style="width:180px">
                                                <col style="width:130px">
                                                <col style="width:90px">
                                                <col>
                                            </colgroup>
                                            <tbody class="rowgroup">
                                                <tr>
                                                    <td>
                                                        <div class="cell">2019-05-30</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">407</div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">ROOM</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">05/31 14:12, 송누구</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="cell">2019-05-30</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">407</div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">ROOM</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">05/31 14:12, 송누구</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                </tr>
                                                <tr class="co-red-child">
                                                    <td>
                                                        <div class="cell">2019-05-30</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">407</div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">ROOM</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">05/31 14:12, 송누구</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell"></div>
                                                    </td>
                                                </tr>
                                                <tr class="bill">
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell">BILL</div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">TOTAL</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell">2,106,000</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell">706,000</div>
                                                    </td>
                                                </tr>
                                                <tr class="balance">
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-left">
                                                        <div class="cell">BALANCE</div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td>
                                                        <div class="cell"></div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell">0</div>
                                                    </td>
                                                    <td class="ta-right">
                                                        <div class="cell">1,400,000</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <!-- /.cont-cdData -->
                    </div>
                </div>
            </div>
            <!-- //.pop-contents-->
            <div class="pop-footer">
                <div class="row-btn">
                    <button type="button" class="btn-gray fn-cls">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //.folio-container -->
    
    <script>
        depUlClk();
    </script>