<!-- folio split 클릭 - split 팝업 -->
<div class="pop-container split-container">
    <div class="bg-back"></div>

    <div class="pop-wrapper">
        <div class="pop-header">
            <h2>Split</h2>
            <span class="a-i-x i-x fn-cls"></span>
        </div>
        <div class="cf pop-contents">
            <div class="popcont-container">
                <div class="cont-property">
                    <div class="grid-wrap">
                        <div class="grid-contents">
                            <table class="grid-tbl property-tbl">
                                <colgroup>
                                    <col style="width: 120px">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>
                                            <div class="cell necess">Split</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <span class="rdo-box">
                                                    <label><input type="radio"><span>Amount</span></label>
                                                    <label><input type="radio"><span>Rate</span></label>
                                                </span>
                                                <input type="text" class="form-input w-1">
                                                <span>KRW</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell necess">항목</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <select name="" id="" class="form-select">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="cell">비고</div>
                                        </th>
                                        <td>
                                            <div class="cell">
                                                <textarea name="" id="" class="form-texta"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--//.cont-property-->
            </div>
        </div>
        <!-- //.pop-contents-->
        <div class="pop-footer">
            <div class="row-btn">
                <button type="button" class="btn-blue fn-cls">SAVE</button>
                <button type="button" class="btn-gray fn-cls">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<!-- //.split-container -->