<!-- folio - gbill 클릭 -->
<div class="pop-container gbill-container">
    <div class="bg-back"></div>

    <div class="pop-wrapper">
        <div class="pop-header">
            <h2>G-Bill</h2>
            <span class="a-i-x i-x fn-cls"></span>
        </div>
        <div class="cf pop-contents">
            <div class="popcont-container">
                <div class="cont-list">
                    <div class="grid-wrap scr-wrap">
                        <div class="grid-area grid-head">
                            <div class="grid-scrollable">
                                <table class="grid-tbl list-tbl">
                                    <colgroup>
                                        <col style="width: 350px">
                                        <col>
                                    </colgroup>
                                    <thead class="rowgroup">
                                        <tr>
                                            <th><div class="cell">항목</div></th>
                                            <th><div class="cell">상태</div></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="grid-area grid-contents">
                            <table class="grid-tbl list-tbl">
                                <colgroup>
                                    <col style="width: 350px">
                                    <col>
                                </colgroup>
                                <tbody class="rowgroup">
                                    <tr>
                                        <td><div class="cell">Room</div></td>
                                        <td><div class="cell">Group</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //.grid-wrap -->
                </div>
                <!-- //.cont-list -->
            </div>
        </div>
        <!-- //.pop-contents-->
        <div class="pop-footer">
            <div class="row-btn">
                <button type="button" class="btn-blue fn-cls">DONE</button>
                <button type="button" class="btn-gray fn-cls">CLOSE </button>
            </div>
        </div>
    </div>
</div>
<!-- //.gbill-container -->