<!-- inhouse팝업 - GROUP ADD 클릭시  -->
<div class="pop-container grpAdd-container">
	<div class="bg-back"></div>

	<div class="pop-wrapper">
		<div class="pop-header">
			<h2>그룹 추가</h2>
			<span class="a-i-x i-x fn-cls"></span>
		</div>
		<div class="cf pop-contents">
			<div class="cf popcont-container">
                <div class="cont-property">
                    <div class="grid-wrap">
                        <div class="grid-contents">
                            <table class="grid-tbl property-tbl">
                                <colgroup>
                                    <col style="width: 92px">
                                    <col style="width: 253px">
                                    <col style="width: 92px">
                                    <col style="width: 253px">
                                    <col style="width: 92px">
                                    <col style="width: 138px">
                                    <col style="width: 92px">
                                    <col style="width: *">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th><div class="cell">도착 날짜</div></th>
                                        <td>
                                            <div class="cell">
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                                </span>
                                                <span>~</span>
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                                </span>
                                            </div>
                                        </td>
                                        <th><div class="cell">출발 날짜</div></th>
                                        <td>
                                            <div class="cell">
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                                </span>
                                                <span>~</span>
                                                <span class="cal-box">
                                                    <input type="text" class="appe-reset inp-cal date-ui">
                                                    <span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
                                                </span>
                                            </div>
                                        </td>
                                        <th><div class="cell">객실#</div></th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input">
                                            </div>
                                        </td>
                                        <th><div class="cell">Chk/Rsvn-No.</div></th>
                                        <td>
                                            <div class="cell">
                                                <input type="text" class="form-input">
                                                <button type="button" class="btn-brown">SEARCH</button>
                                                <button type="button" class="btn-brown">CLEAR</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="cont-list">
                    <!-- /.grid-toolbar -->
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width: 52px">
											<col style="width: 40px">
											<col style="width: 60px">
											<col style="width: 140px">
											<col style="width: 70px">
											<col style="width: 90px">
											<col style="width: 40px">
											<col style="width: 90px">
											<col style="width: 67px">
											<col style="width: 60px">
											<col style="width: 160px">
											<col style="width: 80px">
											<col style="width: 90px">
											<col style="width: 110px">
											<col style="width: 67px">
											<col style="width: 80px">
											<col style="width: *">
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th><div class="cell order-ui">A</div></th>
												<th><div class="cell order-ui">VIP</div></th>
												<th><div class="cell order-ui">객실#</div></th>
												<th><div class="cell order-ui">회원명</div></th>
												<th><div class="cell order-ui">객실유형</div></th>
												<th><div class="cell order-ui">도착 날짜</div></th>
												<th><div class="cell order-ui">Nts</div></th>
												<th><div class="cell order-ui">출발 날짜</div></th>
												<th><div class="cell order-ui">어른/아이</div></th>
												<th><div class="cell order-ui">상태</div></th>
												<th><div class="cell order-ui">계정</div></th>
												<th><div class="cell order-ui">Rm Rate</div></th>
												<th><div class="cell order-ui">금액</div></th>
												<th><div class="cell order-ui">Chk.Num</div></th>
												<th><div class="cell order-ui">그룹/개별</div></th>
												<th><div class="cell order-ui">객실료</div></th>
												<th><div class="cell order-ui">그룹명</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
                                        <col style="width: 52px">
                                        <col style="width: 40px">
                                        <col style="width: 60px">
                                        <col style="width: 140px">
                                        <col style="width: 70px">
                                        <col style="width: 90px">
                                        <col style="width: 40px">
                                        <col style="width: 90px">
                                        <col style="width: 67px">
                                        <col style="width: 60px">
                                        <col style="width: 160px">
                                        <col style="width: 80px">
                                        <col style="width: 90px">
                                        <col style="width: 110px">
                                        <col style="width: 67px">
                                        <col style="width: 80px">
                                        <col style="width: *">
									</colgroup>
									<tbody class="rowgroup">
									    <tr>
									        <td><div class="cell"><button type="button" class="btn-blue">ADD</button></div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell">0417</div></td>
									        <td class="ta-left"><div class="cell">김경준(쓰레기형)</div></td>
									        <td><div class="cell">DTW</div></td>
									        <td><div class="cell">2019-04-04</div></td>
									        <td><div class="cell">30</div></td>
									        <td><div class="cell">2019-05-04</div></td>
									        <td><div class="cell">2 / 0</div></td>
									        <td><div class="cell">C/IN</div></td>
									        <td class="ta-left"><div class="cell">다이렉트</div></td>
									        <td class="ta-right"><div class="cell">10,000</div></td>
									        <td class="ta-right"><div class="cell">330,000</div></td>
									        <td class="ta-left"><div class="cell">KSG1904041702</div></td>
									        <td><div class="cell">F.I.T</div></td>
									        <td class="ta-right"><div class="cell">10,000</div></td>
									        <td class="ta-left"><div class="cell"></div></td>
									    </tr>
									    <tr>
									        <td><div class="cell"><button type="button" class="btn-blue">ADD</button></div></td>
									        <td><div class="cell"></div></td>
									        <td><div class="cell">1004</div></td>
									        <td class="ta-left"><div class="cell">이주수</div></td>
									        <td><div class="cell">DTW</div></td>
									        <td><div class="cell">2019-04-08</div></td>
									        <td><div class="cell">6</div></td>
									        <td><div class="cell">2019-04-14</div></td>
									        <td><div class="cell">2 / 0</div></td>
									        <td><div class="cell">C/IN</div></td>
									        <td class="ta-left"><div class="cell">다이렉트</div></td>
									        <td class="ta-right"><div class="cell">45,455</div></td>
									        <td class="ta-right"><div class="cell">300,000</div></td>
									        <td class="ta-left"><div class="cell">KSG1904041702</div></td>
									        <td><div class="cell">GROUP</div></td>
									        <td class="ta-right"><div class="cell">45,455</div></td>
									        <td class="ta-left"><div class="cell">이주수</div></td>
									    </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- //.grid-wrap -->
                    <div class="cf grid-bottom">
                        <a href="#" class="prev st">&lt;&lt;</a>
                        <a href="#" class="prev">&lt;</a>
                        <span class="num">0</span>
                        <a href="#" class="next">&gt;</a>
                        <a href="#" class="next st">&gt;&gt;</a>
                        <span class="count">1 - 40 of 40 items</span>
                    </div>
                    <!-- //.grid-bottom-->
                </div>
			</div>
			<!-- /.popcont-container -->
		</div>
	</div>
</div>
<!-- / .inGrpAdd-container -->