<!-- inhouse팝업 - GROUP C/OUT 클릭시  -->
<div class="pop-container grpChkout-container">
	<div class="bg-back"></div>

    <div class="pop-wrapper">
        <div class="pop-header">
            <h2>그룹 체크아웃</h2>
            <span class="a-i-x i-x fn-cls"></span>
        </div>
        <div class="cf pop-contents">
            <div class="popcont-container">
                <h2 class="cont-tit">
                    <strong>출발 날짜: 2019-09-03</strong>
                    <button type="button" class="btn-orange reload">RELOAD</button>
                </h2>
                <div class="cont-list">
                    <div class="grid-wrap">
                        <div class="grid-area grid-head">
                            <div class="grid-scrollable">
                                <table class="grid-tbl list-tbl">
                                    <colgroup>
                                        <col style="width: 30px">
                                        <col style="width: 60px">
                                        <col style="width: 60px">
                                        <col style="width: 150px">
                                        <col style="width: 105px">
                                        <col style="width: 30px">
                                        <col style="width: 105px">
                                        <col style="width: 80px">
                                        <col style="width: 120px">
                                        <col style="width: 480px">
                                        <col style="width: 100px">
                                        <col>
                                    </colgroup>
                                    <thead class="rowgroup">
                                        <tr>
                                            <th><div class="cell">M</div></th>
                                            <th><div class="cell">상태</div></th>
                                            <th><div class="cell">Room #</div></th>
                                            <th><div class="cell">손님이름</div></th>
                                            <th><div class="cell">도착날짜</div></th>
                                            <th><div class="cell">Nts</div></th>
                                            <th><div class="cell">출발날짜</div></th>
                                            <th><div class="cell">객실타입</div></th>
                                            <th><div class="cell">거래처</div></th>
                                            <th><div class="cell">메시지</div></th>
                                            <th><div class="cell">Balance</div></th>
                                            <th><div class="cell"><input type="checkbox"></div></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="grid-area grid-contents">
                            <table class="grid-tbl list-tbl">
                                <colgroup>
                                    <col style="width: 30px">
                                    <col style="width: 60px">
                                    <col style="width: 60px">
                                    <col style="width: 150px">
                                    <col style="width: 105px">
                                    <col style="width: 30px">
                                    <col style="width: 105px">
                                    <col style="width: 80px">
                                    <col style="width: 120px">
                                    <col style="width: 480px">
                                    <col style="width: 100px">
                                    <col>
                                </colgroup>
                                <tbody class="rowgroup">
                                    <tr>
                                        <td><div class="cell">Y</div></td>
                                        <td><div class="cell">C/IN</div></td>
                                        <td><div class="cell">401</div></td>
                                        <td class="ta-left"><div class="cell">본사직원</div></td>
                                        <td><div class="cell">2019-07-03</div></td>
                                        <td><div class="cell">89</div></td>
                                        <td><div class="cell">2019-09-30</div></td>
                                        <td><div class="cell">DTW</div></td>
                                        <td class="ta-left"><div class="cell">고코투어(가자닷컴)</div></td>
                                        <td class="ta-left"><div class="cell to-ellips">Room Extension (De.date) : 2019-08-31 -> 2019-09-30.Room Extension (dep.da</div></td>
                                        <td class="ta-right"><div class="cell">0</div></td>
                                        <td><div class="cell"></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- //.cont-list -->
            </div>
        </div>
        <!-- //.pop-contents-->
        <div class="pop-footer">
            <div class="row-btn">
                <button type="button" class="btn-brown fn-cls">CHECK OUT</button>
                <button type="button" class="btn-gray fn-cls">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<!-- / .grpChkout-container -->
